.icons-4343 {
    background-image: url(spritesheet_43x43.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 100.0%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 0.37593984962406013%)
}
.icons-4343:not(.icons-TaskAchA1):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
.icons-TaskAchA1 { --row: 0; }
.icons-TaskAchA10 { --row: 1; }
.icons-TaskAchA11 { --row: 2; }
.icons-TaskAchA12 { --row: 3; }
.icons-TaskAchA13 { --row: 4; }
.icons-TaskAchA14 { --row: 5; }
.icons-TaskAchA15 { --row: 6; }
.icons-TaskAchA16 { --row: 7; }
.icons-TaskAchA17 { --row: 8; }
.icons-TaskAchA18 { --row: 9; }
.icons-TaskAchA19 { --row: 10; }
.icons-TaskAchA2 { --row: 11; }
.icons-TaskAchA20 { --row: 12; }
.icons-TaskAchA21 { --row: 13; }
.icons-TaskAchA22 { --row: 14; }
.icons-TaskAchA23 { --row: 15; }
.icons-TaskAchA24 { --row: 16; }
.icons-TaskAchA25 { --row: 17; }
.icons-TaskAchA26 { --row: 18; }
.icons-TaskAchA27 { --row: 19; }
.icons-TaskAchA28 { --row: 20; }
.icons-TaskAchA29 { --row: 21; }
.icons-TaskAchA3 { --row: 22; }
.icons-TaskAchA30 { --row: 23; }
.icons-TaskAchA31 { --row: 24; }
.icons-TaskAchA32 { --row: 25; }
.icons-TaskAchA33 { --row: 26; }
.icons-TaskAchA34 { --row: 27; }
.icons-TaskAchA35 { --row: 28; }
.icons-TaskAchA36 { --row: 29; }
.icons-TaskAchA37 { --row: 30; }
.icons-TaskAchA38 { --row: 31; }
.icons-TaskAchA39 { --row: 32; }
.icons-TaskAchA4 { --row: 33; }
.icons-TaskAchA40 { --row: 34; }
.icons-TaskAchA41 { --row: 35; }
.icons-TaskAchA42 { --row: 36; }
.icons-TaskAchA43 { --row: 37; }
.icons-TaskAchA44 { --row: 38; }
.icons-TaskAchA45 { --row: 39; }
.icons-TaskAchA46 { --row: 40; }
.icons-TaskAchA47 { --row: 41; }
.icons-TaskAchA48 { --row: 42; }
.icons-TaskAchA49 { --row: 43; }
.icons-TaskAchA5 { --row: 44; }
.icons-TaskAchA50 { --row: 45; }
.icons-TaskAchA51 { --row: 46; }
.icons-TaskAchA52 { --row: 47; }
.icons-TaskAchA53 { --row: 48; }
.icons-TaskAchA54 { --row: 49; }
.icons-TaskAchA55 { --row: 50; }
.icons-TaskAchA56 { --row: 51; }
.icons-TaskAchA57 { --row: 52; }
.icons-TaskAchA6 { --row: 53; }
.icons-TaskAchA7 { --row: 54; }
.icons-TaskAchA8 { --row: 55; }
.icons-TaskAchA9 { --row: 56; }
.icons-TaskAchB1 { --row: 57; }
.icons-TaskAchB10 { --row: 58; }
.icons-TaskAchB11 { --row: 59; }
.icons-TaskAchB12 { --row: 60; }
.icons-TaskAchB13 { --row: 61; }
.icons-TaskAchB14 { --row: 62; }
.icons-TaskAchB15 { --row: 63; }
.icons-TaskAchB16 { --row: 64; }
.icons-TaskAchB17 { --row: 65; }
.icons-TaskAchB18 { --row: 66; }
.icons-TaskAchB19 { --row: 67; }
.icons-TaskAchB2 { --row: 68; }
.icons-TaskAchB20 { --row: 69; }
.icons-TaskAchB21 { --row: 70; }
.icons-TaskAchB22 { --row: 71; }
.icons-TaskAchB23 { --row: 72; }
.icons-TaskAchB24 { --row: 73; }
.icons-TaskAchB25 { --row: 74; }
.icons-TaskAchB26 { --row: 75; }
.icons-TaskAchB27 { --row: 76; }
.icons-TaskAchB28 { --row: 77; }
.icons-TaskAchB29 { --row: 78; }
.icons-TaskAchB3 { --row: 79; }
.icons-TaskAchB30 { --row: 80; }
.icons-TaskAchB31 { --row: 81; }
.icons-TaskAchB32 { --row: 82; }
.icons-TaskAchB33 { --row: 83; }
.icons-TaskAchB34 { --row: 84; }
.icons-TaskAchB35 { --row: 85; }
.icons-TaskAchB36 { --row: 86; }
.icons-TaskAchB37 { --row: 87; }
.icons-TaskAchB38 { --row: 88; }
.icons-TaskAchB39 { --row: 89; }
.icons-TaskAchB4 { --row: 90; }
.icons-TaskAchB40 { --row: 91; }
.icons-TaskAchB41 { --row: 92; }
.icons-TaskAchB42 { --row: 93; }
.icons-TaskAchB43 { --row: 94; }
.icons-TaskAchB44 { --row: 95; }
.icons-TaskAchB45 { --row: 96; }
.icons-TaskAchB46 { --row: 97; }
.icons-TaskAchB47 { --row: 98; }
.icons-TaskAchB48 { --row: 99; }
.icons-TaskAchB49 { --row: 100; }
.icons-TaskAchB5 { --row: 101; }
.icons-TaskAchB50 { --row: 102; }
.icons-TaskAchB51 { --row: 103; }
.icons-TaskAchB52 { --row: 104; }
.icons-TaskAchB53 { --row: 105; }
.icons-TaskAchB54 { --row: 106; }
.icons-TaskAchB55 { --row: 107; }
.icons-TaskAchB56 { --row: 108; }
.icons-TaskAchB57 { --row: 109; }
.icons-TaskAchB58 { --row: 110; }
.icons-TaskAchB59 { --row: 111; }
.icons-TaskAchB6 { --row: 112; }
.icons-TaskAchB60 { --row: 113; }
.icons-TaskAchB61 { --row: 114; }
.icons-TaskAchB62 { --row: 115; }
.icons-TaskAchB63 { --row: 116; }
.icons-TaskAchB64 { --row: 117; }
.icons-TaskAchB65 { --row: 118; }
.icons-TaskAchB66 { --row: 119; }
.icons-TaskAchB67 { --row: 120; }
.icons-TaskAchB68 { --row: 121; }
.icons-TaskAchB69 { --row: 122; }
.icons-TaskAchB7 { --row: 123; }
.icons-TaskAchB70 { --row: 124; }
.icons-TaskAchB8 { --row: 125; }
.icons-TaskAchB9 { --row: 126; }
.icons-TaskAchC1 { --row: 127; }
.icons-TaskAchC10 { --row: 128; }
.icons-TaskAchC11 { --row: 129; }
.icons-TaskAchC12 { --row: 130; }
.icons-TaskAchC13 { --row: 131; }
.icons-TaskAchC14 { --row: 132; }
.icons-TaskAchC15 { --row: 133; }
.icons-TaskAchC16 { --row: 134; }
.icons-TaskAchC17 { --row: 135; }
.icons-TaskAchC18 { --row: 136; }
.icons-TaskAchC19 { --row: 137; }
.icons-TaskAchC2 { --row: 138; }
.icons-TaskAchC20 { --row: 139; }
.icons-TaskAchC21 { --row: 140; }
.icons-TaskAchC22 { --row: 141; }
.icons-TaskAchC23 { --row: 142; }
.icons-TaskAchC24 { --row: 143; }
.icons-TaskAchC25 { --row: 144; }
.icons-TaskAchC26 { --row: 145; }
.icons-TaskAchC27 { --row: 146; }
.icons-TaskAchC28 { --row: 147; }
.icons-TaskAchC29 { --row: 148; }
.icons-TaskAchC3 { --row: 149; }
.icons-TaskAchC30 { --row: 150; }
.icons-TaskAchC31 { --row: 151; }
.icons-TaskAchC32 { --row: 152; }
.icons-TaskAchC33 { --row: 153; }
.icons-TaskAchC34 { --row: 154; }
.icons-TaskAchC35 { --row: 155; }
.icons-TaskAchC36 { --row: 156; }
.icons-TaskAchC37 { --row: 157; }
.icons-TaskAchC38 { --row: 158; }
.icons-TaskAchC39 { --row: 159; }
.icons-TaskAchC4 { --row: 160; }
.icons-TaskAchC40 { --row: 161; }
.icons-TaskAchC41 { --row: 162; }
.icons-TaskAchC42 { --row: 163; }
.icons-TaskAchC43 { --row: 164; }
.icons-TaskAchC44 { --row: 165; }
.icons-TaskAchC45 { --row: 166; }
.icons-TaskAchC46 { --row: 167; }
.icons-TaskAchC47 { --row: 168; }
.icons-TaskAchC48 { --row: 169; }
.icons-TaskAchC49 { --row: 170; }
.icons-TaskAchC5 { --row: 171; }
.icons-TaskAchC50 { --row: 172; }
.icons-TaskAchC51 { --row: 173; }
.icons-TaskAchC52 { --row: 174; }
.icons-TaskAchC53 { --row: 175; }
.icons-TaskAchC54 { --row: 176; }
.icons-TaskAchC55 { --row: 177; }
.icons-TaskAchC56 { --row: 178; }
.icons-TaskAchC57 { --row: 179; }
.icons-TaskAchC58 { --row: 180; }
.icons-TaskAchC59 { --row: 181; }
.icons-TaskAchC6 { --row: 182; }
.icons-TaskAchC60 { --row: 183; }
.icons-TaskAchC61 { --row: 184; }
.icons-TaskAchC62 { --row: 185; }
.icons-TaskAchC63 { --row: 186; }
.icons-TaskAchC64 { --row: 187; }
.icons-TaskAchC65 { --row: 188; }
.icons-TaskAchC66 { --row: 189; }
.icons-TaskAchC67 { --row: 190; }
.icons-TaskAchC68 { --row: 191; }
.icons-TaskAchC69 { --row: 192; }
.icons-TaskAchC7 { --row: 193; }
.icons-TaskAchC70 { --row: 194; }
.icons-TaskAchC8 { --row: 195; }
.icons-TaskAchC9 { --row: 196; }
.icons-TaskAchD1 { --row: 197; }
.icons-TaskAchD10 { --row: 198; }
.icons-TaskAchD11 { --row: 199; }
.icons-TaskAchD12 { --row: 200; }
.icons-TaskAchD13 { --row: 201; }
.icons-TaskAchD14 { --row: 202; }
.icons-TaskAchD15 { --row: 203; }
.icons-TaskAchD16 { --row: 204; }
.icons-TaskAchD17 { --row: 205; }
.icons-TaskAchD18 { --row: 206; }
.icons-TaskAchD19 { --row: 207; }
.icons-TaskAchD2 { --row: 208; }
.icons-TaskAchD20 { --row: 209; }
.icons-TaskAchD21 { --row: 210; }
.icons-TaskAchD22 { --row: 211; }
.icons-TaskAchD23 { --row: 212; }
.icons-TaskAchD24 { --row: 213; }
.icons-TaskAchD25 { --row: 214; }
.icons-TaskAchD26 { --row: 215; }
.icons-TaskAchD27 { --row: 216; }
.icons-TaskAchD28 { --row: 217; }
.icons-TaskAchD29 { --row: 218; }
.icons-TaskAchD3 { --row: 219; }
.icons-TaskAchD30 { --row: 220; }
.icons-TaskAchD31 { --row: 221; }
.icons-TaskAchD32 { --row: 222; }
.icons-TaskAchD33 { --row: 223; }
.icons-TaskAchD34 { --row: 224; }
.icons-TaskAchD35 { --row: 225; }
.icons-TaskAchD36 { --row: 226; }
.icons-TaskAchD37 { --row: 227; }
.icons-TaskAchD38 { --row: 228; }
.icons-TaskAchD39 { --row: 229; }
.icons-TaskAchD4 { --row: 230; }
.icons-TaskAchD40 { --row: 231; }
.icons-TaskAchD41 { --row: 232; }
.icons-TaskAchD42 { --row: 233; }
.icons-TaskAchD43 { --row: 234; }
.icons-TaskAchD44 { --row: 235; }
.icons-TaskAchD45 { --row: 236; }
.icons-TaskAchD46 { --row: 237; }
.icons-TaskAchD47 { --row: 238; }
.icons-TaskAchD48 { --row: 239; }
.icons-TaskAchD49 { --row: 240; }
.icons-TaskAchD5 { --row: 241; }
.icons-TaskAchD50 { --row: 242; }
.icons-TaskAchD51 { --row: 243; }
.icons-TaskAchD52 { --row: 244; }
.icons-TaskAchD53 { --row: 245; }
.icons-TaskAchD54 { --row: 246; }
.icons-TaskAchD55 { --row: 247; }
.icons-TaskAchD56 { --row: 248; }
.icons-TaskAchD57 { --row: 249; }
.icons-TaskAchD58 { --row: 250; }
.icons-TaskAchD59 { --row: 251; }
.icons-TaskAchD6 { --row: 252; }
.icons-TaskAchD60 { --row: 253; }
.icons-TaskAchD61 { --row: 254; }
.icons-TaskAchD62 { --row: 255; }
.icons-TaskAchD63 { --row: 256; }
.icons-TaskAchD64 { --row: 257; }
.icons-TaskAchD65 { --row: 258; }
.icons-TaskAchD66 { --row: 259; }
.icons-TaskAchD67 { --row: 260; }
.icons-TaskAchD68 { --row: 261; }
.icons-TaskAchD69 { --row: 262; }
.icons-TaskAchD7 { --row: 263; }
.icons-TaskAchD70 { --row: 264; }
.icons-TaskAchD8 { --row: 265; }
.icons-TaskAchD9 { --row: 266; }
