.icons-70 {
            background-image: url(spritesheet_70x70.png);
            background-repeat: no-repeat;
            display: inline-block;
            width: 70px;
            height: 70px;
            background-size: cover;
            background-position: 0 calc(var(--row) * -70px)
        }
        .icons-aUpgradesG0 { --row: 0; }
.icons-aUpgradesG1 { --row: 1; }
.icons-aUpgradesG10 { --row: 2; }
.icons-aUpgradesG11 { --row: 3; }
.icons-aUpgradesG12 { --row: 4; }
.icons-aUpgradesG13 { --row: 5; }
.icons-aUpgradesG14 { --row: 6; }
.icons-aUpgradesG15 { --row: 7; }
.icons-aUpgradesG16 { --row: 8; }
.icons-aUpgradesG17 { --row: 9; }
.icons-aUpgradesG2 { --row: 10; }
.icons-aUpgradesG3 { --row: 11; }
.icons-aUpgradesG4 { --row: 12; }
.icons-aUpgradesG5 { --row: 13; }
.icons-aUpgradesG6 { --row: 14; }
.icons-aUpgradesG7 { --row: 15; }
.icons-aUpgradesG8 { --row: 16; }
.icons-aUpgradesG9 { --row: 17; }
.icons-aUpgradesO0 { --row: 18; }
.icons-aUpgradesO1 { --row: 19; }
.icons-aUpgradesO10 { --row: 20; }
.icons-aUpgradesO11 { --row: 21; }
.icons-aUpgradesO12 { --row: 22; }
.icons-aUpgradesO13 { --row: 23; }
.icons-aUpgradesO14 { --row: 24; }
.icons-aUpgradesO15 { --row: 25; }
.icons-aUpgradesO16 { --row: 26; }
.icons-aUpgradesO17 { --row: 27; }
.icons-aUpgradesO18 { --row: 28; }
.icons-aUpgradesO2 { --row: 29; }
.icons-aUpgradesO3 { --row: 30; }
.icons-aUpgradesO4 { --row: 31; }
.icons-aUpgradesO5 { --row: 32; }
.icons-aUpgradesO6 { --row: 33; }
.icons-aUpgradesO7 { --row: 34; }
.icons-aUpgradesO8 { --row: 35; }
.icons-aUpgradesO9 { --row: 36; }
.icons-aUpgradesP0 { --row: 37; }
.icons-aUpgradesP1 { --row: 38; }
.icons-aUpgradesP10 { --row: 39; }
.icons-aUpgradesP11 { --row: 40; }
.icons-aUpgradesP12 { --row: 41; }
.icons-aUpgradesP13 { --row: 42; }
.icons-aUpgradesP14 { --row: 43; }
.icons-aUpgradesP15 { --row: 44; }
.icons-aUpgradesP16 { --row: 45; }
.icons-aUpgradesP17 { --row: 46; }
.icons-aUpgradesP18 { --row: 47; }
.icons-aUpgradesP2 { --row: 48; }
.icons-aUpgradesP3 { --row: 49; }
.icons-aUpgradesP4 { --row: 50; }
.icons-aUpgradesP5 { --row: 51; }
.icons-aUpgradesP6 { --row: 52; }
.icons-aUpgradesP7 { --row: 53; }
.icons-aUpgradesP8 { --row: 54; }
.icons-aUpgradesP9 { --row: 55; }
.icons-aUpgradesY0 { --row: 56; }
.icons-aUpgradesY1 { --row: 57; }
.icons-aUpgradesY10 { --row: 58; }
.icons-aUpgradesY11 { --row: 59; }
.icons-aUpgradesY12 { --row: 60; }
.icons-aUpgradesY13 { --row: 61; }
.icons-aUpgradesY14 { --row: 62; }
.icons-aUpgradesY15 { --row: 63; }
.icons-aUpgradesY16 { --row: 64; }
.icons-aUpgradesY17 { --row: 65; }
.icons-aUpgradesY18 { --row: 66; }
.icons-aUpgradesY2 { --row: 67; }
.icons-aUpgradesY3 { --row: 68; }
.icons-aUpgradesY4 { --row: 69; }
.icons-aUpgradesY5 { --row: 70; }
.icons-aUpgradesY6 { --row: 71; }
.icons-aUpgradesY7 { --row: 72; }
.icons-aUpgradesY8 { --row: 73; }
.icons-aUpgradesY9 { --row: 74; }
