.icons-5050 {
    background-image: url(spritesheet_50x50.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 100.0%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 1.5873015873015872%)
}
.icons-5050:not(.icons-bandit_bob):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
            .icons-bandit_bob { --row: 0; }
.icons-bellows { --row: 1; }
.icons-bill_brr { --row: 2; }
.icons-builder_bird { --row: 3; }
.icons-bushlyte { --row: 4; }
.icons-cactolyte { --row: 5; }
.icons-carpenter_cardinal { --row: 6; }
.icons-carpetiem { --row: 7; }
.icons-centurion { --row: 8; }
.icons-coastiolyte { --row: 9; }
.icons-constructor_crow { --row: 10; }
.icons-cowbo_jones { --row: 11; }
.icons-crystalswine { --row: 12; }
.icons-dazey { --row: 13; }
.icons-desert_davey { --row: 14; }
.icons-djonnut { --row: 15; }
.icons-dog_bone { --row: 16; }
.icons-egggulyte { --row: 17; }
.icons-falloween_pumpkin { --row: 18; }
.icons-fishpaste97 { --row: 19; }
.icons-funguy { --row: 20; }
.icons-gangster_gus { --row: 21; }
.icons-giftmas_blobulyte { --row: 22; }
.icons-glumlee { --row: 23; }
.icons-goldric { --row: 24; }
.icons-grasslands_gary { --row: 25; }
.icons-hamish { --row: 26; }
.icons-hoggindaz { --row: 27; }
.icons-iceland_irwin { --row: 28; }
.icons-krunk { --row: 29; }
.icons-lonely_hunter { --row: 30; }
.icons-loominadi { --row: 31; }
.icons-lord_of_the_hunt { --row: 32; }
.icons-loveulyte { --row: 33; }
.icons-meel { --row: 34; }
.icons-mr_pigibank { --row: 35; }
.icons-mutton { --row: 36; }
.icons-obol_altar { --row: 37; }
.icons-papua_piggea { --row: 38; }
.icons-picnic_stowaway { --row: 39; }
.icons-postboy_pablob { --row: 40; }
.icons-promotheus { --row: 41; }
.icons-rocklyte { --row: 42; }
.icons-scripticus { --row: 43; }
.icons-scubidew { --row: 44; }
.icons-shuvelle { --row: 45; }
.icons-snake_jar { --row: 46; }
.icons-snouts { --row: 47; }
.icons-speccius { --row: 48; }
.icons-sprout { --row: 49; }
.icons-stiltzcho { --row: 50; }
.icons-telescope { --row: 51; }
.icons-tiki_chief { --row: 52; }
.icons-toadstall { --row: 53; }
.icons-town_marble { --row: 54; }
.icons-tp_pete { --row: 55; }
.icons-typhoon { --row: 56; }
.icons-walupiggy { --row: 57; }
.icons-wellington { --row: 58; }
.icons-whattso { --row: 59; }
.icons-woodsman { --row: 60; }
.icons-worldo { --row: 61; }
.icons-xxx_cattleprod_xxx { --row: 62; }
.icons-yondergreen { --row: 63; }
