.icons-7272 {
    background-image: url(spritesheet_72x72.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 100.0%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 0.06949270326615706%)
}
.icons-7272:not(.icons-AlienTree):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
            .icons-AlienTree { --row: 0; }
.icons-AlienTreetutorial { --row: 1; }
.icons-BabaYagaETC { --row: 2; }
.icons-BadgeD1 { --row: 3; }
.icons-BadgeD2 { --row: 4; }
.icons-BadgeD3 { --row: 5; }
.icons-BadgeG1 { --row: 6; }
.icons-BadgeG2 { --row: 7; }
.icons-BadgeG3 { --row: 8; }
.icons-BadgeI1 { --row: 9; }
.icons-BadgeI2 { --row: 10; }
.icons-BadgeI3 { --row: 11; }
.icons-BallJoePickle { --row: 12; }
.icons-BirchTree { --row: 13; }
.icons-BobJoePickle { --row: 14; }
.icons-Bug1 { --row: 15; }
.icons-Bug2 { --row: 16; }
.icons-Bug3 { --row: 17; }
.icons-Bug4 { --row: 18; }
.icons-Bug5 { --row: 19; }
.icons-Bug6 { --row: 20; }
.icons-Bullet { --row: 21; }
.icons-BulletB { --row: 22; }
.icons-ButterBar { --row: 23; }
.icons-CardPack1 { --row: 24; }
.icons-CardPack2 { --row: 25; }
.icons-CardPack3 { --row: 26; }
.icons-CardPack4 { --row: 27; }
.icons-Cash { --row: 28; }
.icons-Cashb { --row: 29; }
.icons-CatchingNet1 { --row: 30; }
.icons-CatchingNet2 { --row: 31; }
.icons-CatchingNet3 { --row: 32; }
.icons-CatchingNet4 { --row: 33; }
.icons-CatchingNet5 { --row: 34; }
.icons-CatchingNet6 { --row: 35; }
.icons-CatchingNet7 { --row: 36; }
.icons-CharSlot { --row: 37; }
.icons-Chiz0 { --row: 38; }
.icons-Chiz1 { --row: 39; }
.icons-ClassSwap { --row: 40; }
.icons-Copper { --row: 41; }
.icons-CopperBar { --row: 42; }
.icons-CraftMat1 { --row: 43; }
.icons-CraftMat10 { --row: 44; }
.icons-CraftMat11 { --row: 45; }
.icons-CraftMat12 { --row: 46; }
.icons-CraftMat13 { --row: 47; }
.icons-CraftMat14 { --row: 48; }
.icons-CraftMat15 { --row: 49; }
.icons-CraftMat16 { --row: 50; }
.icons-CraftMat17 { --row: 51; }
.icons-CraftMat2 { --row: 52; }
.icons-CraftMat3 { --row: 53; }
.icons-CraftMat4 { --row: 54; }
.icons-CraftMat5 { --row: 55; }
.icons-CraftMat6 { --row: 56; }
.icons-CraftMat7 { --row: 57; }
.icons-CraftMat8 { --row: 58; }
.icons-CraftMat9 { --row: 59; }
.icons-Critter1 { --row: 60; }
.icons-Critter1A { --row: 61; }
.icons-Critter2 { --row: 62; }
.icons-Critter2A { --row: 63; }
.icons-Critter3 { --row: 64; }
.icons-Critter3A { --row: 65; }
.icons-Critter4 { --row: 66; }
.icons-Critter4A { --row: 67; }
.icons-Critter5 { --row: 68; }
.icons-Critter5A { --row: 69; }
.icons-Critter6 { --row: 70; }
.icons-Critter6A { --row: 71; }
.icons-Critter7 { --row: 72; }
.icons-Critter7A { --row: 73; }
.icons-Critter8 { --row: 74; }
.icons-Critter8A { --row: 75; }
.icons-Critter9 { --row: 76; }
.icons-Critter9A { --row: 77; }
.icons-Crystal1 { --row: 78; }
.icons-Crystal2 { --row: 79; }
.icons-Crystal3 { --row: 80; }
.icons-Cutter { --row: 81; }
.icons-DeliveryBox { --row: 82; }
.icons-Dementia { --row: 83; }
.icons-DementiaBar { --row: 84; }
.icons-DesertA1 { --row: 85; }
.icons-DesertA1b { --row: 86; }
.icons-DesertA2 { --row: 87; }
.icons-DesertA3 { --row: 88; }
.icons-DesertA3b { --row: 89; }
.icons-DesertB1 { --row: 90; }
.icons-DesertB2 { --row: 91; }
.icons-DesertB3 { --row: 92; }
.icons-DesertB4 { --row: 93; }
.icons-DesertC1 { --row: 94; }
.icons-DesertC2 { --row: 95; }
.icons-DesertC2b { --row: 96; }
.icons-DesertC3 { --row: 97; }
.icons-DesertC4 { --row: 98; }
.icons-DoubleAFKtix { --row: 99; }
.icons-Dreadlo { --row: 100; }
.icons-DreadloBar { --row: 101; }
.icons-Dung1 { --row: 102; }
.icons-Dung2 { --row: 103; }
.icons-Dung3 { --row: 104; }
.icons-Dung3Ice { --row: 105; }
.icons-Dung4 { --row: 106; }
.icons-Dung5 { --row: 107; }
.icons-Dung6 { --row: 108; }
.icons-Dung7 { --row: 109; }
.icons-Dung8 { --row: 110; }
.icons-DungCredits1 { --row: 111; }
.icons-DungCredits2 { --row: 112; }
.icons-DungEquipmentHats0 { --row: 113; }
.icons-DungEquipmentHats1 { --row: 114; }
.icons-DungEquipmentHats2 { --row: 115; }
.icons-DungEquipmentHats3 { --row: 116; }
.icons-DungEquipmentHats4 { --row: 117; }
.icons-DungEquipmentPants0 { --row: 118; }
.icons-DungEquipmentPants1 { --row: 119; }
.icons-DungEquipmentPants2 { --row: 120; }
.icons-DungEquipmentPants3 { --row: 121; }
.icons-DungEquipmentPants4 { --row: 122; }
.icons-DungEquipmentPendant0 { --row: 123; }
.icons-DungEquipmentPendant1 { --row: 124; }
.icons-DungEquipmentPendant2 { --row: 125; }
.icons-DungEquipmentPendant3 { --row: 126; }
.icons-DungEquipmentPendant4 { --row: 127; }
.icons-DungEquipmentRings0 { --row: 128; }
.icons-DungEquipmentRings1 { --row: 129; }
.icons-DungEquipmentRings2 { --row: 130; }
.icons-DungEquipmentRings3 { --row: 131; }
.icons-DungEquipmentRings4 { --row: 132; }
.icons-DungEquipmentShirt0 { --row: 133; }
.icons-DungEquipmentShirt1 { --row: 134; }
.icons-DungEquipmentShirt2 { --row: 135; }
.icons-DungEquipmentShirt3 { --row: 136; }
.icons-DungEquipmentShirt4 { --row: 137; }
.icons-DungEquipmentShoes0 { --row: 138; }
.icons-DungEquipmentShoes1 { --row: 139; }
.icons-DungEquipmentShoes2 { --row: 140; }
.icons-DungEquipmentShoes3 { --row: 141; }
.icons-DungEquipmentShoes4 { --row: 142; }
.icons-DungItemsLock { --row: 143; }
.icons-DungShopSq0 { --row: 144; }
.icons-DungShopSq1 { --row: 145; }
.icons-DungShopSq2 { --row: 146; }
.icons-DungShopSq3 { --row: 147; }
.icons-DungShopSq4 { --row: 148; }
.icons-DungShopSq5 { --row: 149; }
.icons-DungWeaponBowA1 { --row: 150; }
.icons-DungWeaponBowA2 { --row: 151; }
.icons-DungWeaponBowA3 { --row: 152; }
.icons-DungWeaponBowA4 { --row: 153; }
.icons-DungWeaponBowA5 { --row: 154; }
.icons-DungWeaponBowB1 { --row: 155; }
.icons-DungWeaponBowB2 { --row: 156; }
.icons-DungWeaponBowB3 { --row: 157; }
.icons-DungWeaponBowB4 { --row: 158; }
.icons-DungWeaponBowB5 { --row: 159; }
.icons-DungWeaponBowC1 { --row: 160; }
.icons-DungWeaponBowC2 { --row: 161; }
.icons-DungWeaponBowC3 { --row: 162; }
.icons-DungWeaponBowC4 { --row: 163; }
.icons-DungWeaponBowC5 { --row: 164; }
.icons-DungWeaponBowD1 { --row: 165; }
.icons-DungWeaponBowD2 { --row: 166; }
.icons-DungWeaponBowD3 { --row: 167; }
.icons-DungWeaponBowD4 { --row: 168; }
.icons-DungWeaponBowD5 { --row: 169; }
.icons-DungWeaponBowE1 { --row: 170; }
.icons-DungWeaponBowE2 { --row: 171; }
.icons-DungWeaponBowE3 { --row: 172; }
.icons-DungWeaponBowE4 { --row: 173; }
.icons-DungWeaponBowE5 { --row: 174; }
.icons-DungWeaponBowF1 { --row: 175; }
.icons-DungWeaponBowF2 { --row: 176; }
.icons-DungWeaponBowF3 { --row: 177; }
.icons-DungWeaponBowF4 { --row: 178; }
.icons-DungWeaponBowF5 { --row: 179; }
.icons-DungWeaponPunchA1 { --row: 180; }
.icons-DungWeaponPunchA2 { --row: 181; }
.icons-DungWeaponPunchA3 { --row: 182; }
.icons-DungWeaponPunchA4 { --row: 183; }
.icons-DungWeaponPunchA5 { --row: 184; }
.icons-DungWeaponPunchB1 { --row: 185; }
.icons-DungWeaponPunchB2 { --row: 186; }
.icons-DungWeaponPunchB3 { --row: 187; }
.icons-DungWeaponPunchB4 { --row: 188; }
.icons-DungWeaponPunchB5 { --row: 189; }
.icons-DungWeaponPunchC1 { --row: 190; }
.icons-DungWeaponPunchC2 { --row: 191; }
.icons-DungWeaponPunchC3 { --row: 192; }
.icons-DungWeaponPunchC4 { --row: 193; }
.icons-DungWeaponPunchC5 { --row: 194; }
.icons-DungWeaponPunchD1 { --row: 195; }
.icons-DungWeaponPunchD2 { --row: 196; }
.icons-DungWeaponPunchD3 { --row: 197; }
.icons-DungWeaponPunchD4 { --row: 198; }
.icons-DungWeaponPunchD5 { --row: 199; }
.icons-DungWeaponPunchE1 { --row: 200; }
.icons-DungWeaponPunchE2 { --row: 201; }
.icons-DungWeaponPunchE3 { --row: 202; }
.icons-DungWeaponPunchE4 { --row: 203; }
.icons-DungWeaponPunchE5 { --row: 204; }
.icons-DungWeaponPunchF1 { --row: 205; }
.icons-DungWeaponPunchF2 { --row: 206; }
.icons-DungWeaponPunchF3 { --row: 207; }
.icons-DungWeaponPunchF4 { --row: 208; }
.icons-DungWeaponPunchF5 { --row: 209; }
.icons-DungWeaponSword1 { --row: 210; }
.icons-DungWeaponSword2 { --row: 211; }
.icons-DungWeaponSword3 { --row: 212; }
.icons-DungWeaponSword4 { --row: 213; }
.icons-DungWeaponSword5 { --row: 214; }
.icons-DungWeaponSword6 { --row: 215; }
.icons-DungWeaponSwordA1 { --row: 216; }
.icons-DungWeaponSwordA2 { --row: 217; }
.icons-DungWeaponSwordA3 { --row: 218; }
.icons-DungWeaponSwordA4 { --row: 219; }
.icons-DungWeaponSwordA5 { --row: 220; }
.icons-DungWeaponSwordB1 { --row: 221; }
.icons-DungWeaponSwordB2 { --row: 222; }
.icons-DungWeaponSwordB3 { --row: 223; }
.icons-DungWeaponSwordB4 { --row: 224; }
.icons-DungWeaponSwordB5 { --row: 225; }
.icons-DungWeaponSwordC1 { --row: 226; }
.icons-DungWeaponSwordC2 { --row: 227; }
.icons-DungWeaponSwordC3 { --row: 228; }
.icons-DungWeaponSwordC4 { --row: 229; }
.icons-DungWeaponSwordC5 { --row: 230; }
.icons-DungWeaponSwordD1 { --row: 231; }
.icons-DungWeaponSwordD2 { --row: 232; }
.icons-DungWeaponSwordD3 { --row: 233; }
.icons-DungWeaponSwordD4 { --row: 234; }
.icons-DungWeaponSwordD5 { --row: 235; }
.icons-DungWeaponSwordE1 { --row: 236; }
.icons-DungWeaponSwordE2 { --row: 237; }
.icons-DungWeaponSwordE3 { --row: 238; }
.icons-DungWeaponSwordE4 { --row: 239; }
.icons-DungWeaponSwordE5 { --row: 240; }
.icons-DungWeaponSwordF1 { --row: 241; }
.icons-DungWeaponSwordF2 { --row: 242; }
.icons-DungWeaponSwordF3 { --row: 243; }
.icons-DungWeaponSwordF4 { --row: 244; }
.icons-DungWeaponSwordF5 { --row: 245; }
.icons-DungWeaponWand1 { --row: 246; }
.icons-DungWeaponWand2 { --row: 247; }
.icons-DungWeaponWand3 { --row: 248; }
.icons-DungWeaponWand4 { --row: 249; }
.icons-DungWeaponWand5 { --row: 250; }
.icons-DungWeaponWand6 { --row: 251; }
.icons-DungWeaponWandA1 { --row: 252; }
.icons-DungWeaponWandA2 { --row: 253; }
.icons-DungWeaponWandA3 { --row: 254; }
.icons-DungWeaponWandA4 { --row: 255; }
.icons-DungWeaponWandA5 { --row: 256; }
.icons-DungWeaponWandB1 { --row: 257; }
.icons-DungWeaponWandB2 { --row: 258; }
.icons-DungWeaponWandB3 { --row: 259; }
.icons-DungWeaponWandB4 { --row: 260; }
.icons-DungWeaponWandB5 { --row: 261; }
.icons-DungWeaponWandC1 { --row: 262; }
.icons-DungWeaponWandC2 { --row: 263; }
.icons-DungWeaponWandC3 { --row: 264; }
.icons-DungWeaponWandC4 { --row: 265; }
.icons-DungWeaponWandC5 { --row: 266; }
.icons-DungWeaponWandD1 { --row: 267; }
.icons-DungWeaponWandD2 { --row: 268; }
.icons-DungWeaponWandD3 { --row: 269; }
.icons-DungWeaponWandD4 { --row: 270; }
.icons-DungWeaponWandD5 { --row: 271; }
.icons-DungWeaponWandE1 { --row: 272; }
.icons-DungWeaponWandE2 { --row: 273; }
.icons-DungWeaponWandE3 { --row: 274; }
.icons-DungWeaponWandE4 { --row: 275; }
.icons-DungWeaponWandE5 { --row: 276; }
.icons-DungWeaponWandF1 { --row: 277; }
.icons-DungWeaponWandF2 { --row: 278; }
.icons-DungWeaponWandF3 { --row: 279; }
.icons-DungWeaponWandF4 { --row: 280; }
.icons-DungWeaponWandF5 { --row: 281; }
.icons-DungeonA1 { --row: 282; }
.icons-DungeonA2 { --row: 283; }
.icons-DungeonA3 { --row: 284; }
.icons-DungeonA4 { --row: 285; }
.icons-DungeonA5 { --row: 286; }
.icons-DungeonA6 { --row: 287; }
.icons-DungeonA7 { --row: 288; }
.icons-EQtrans_0 { --row: 289; }
.icons-EQtrans_1 { --row: 290; }
.icons-EQtrans_10 { --row: 291; }
.icons-EQtrans_11 { --row: 292; }
.icons-EQtrans_12 { --row: 293; }
.icons-EQtrans_13 { --row: 294; }
.icons-EQtrans_14 { --row: 295; }
.icons-EQtrans_15 { --row: 296; }
.icons-EQtrans_2 { --row: 297; }
.icons-EQtrans_3 { --row: 298; }
.icons-EQtrans_4 { --row: 299; }
.icons-EQtrans_5 { --row: 300; }
.icons-EQtrans_6 { --row: 301; }
.icons-EQtrans_7 { --row: 302; }
.icons-EQtrans_8 { --row: 303; }
.icons-EQtrans_9 { --row: 304; }
.icons-EfauntDrop1 { --row: 305; }
.icons-EfauntDrop2 { --row: 306; }
.icons-EquipmentBows1 { --row: 307; }
.icons-EquipmentBows2 { --row: 308; }
.icons-EquipmentBows3 { --row: 309; }
.icons-EquipmentBows4 { --row: 310; }
.icons-EquipmentBows5 { --row: 311; }
.icons-EquipmentBows6 { --row: 312; }
.icons-EquipmentBows7 { --row: 313; }
.icons-EquipmentBows8 { --row: 314; }
.icons-EquipmentHats1 { --row: 315; }
.icons-EquipmentHats10 { --row: 316; }
.icons-EquipmentHats11 { --row: 317; }
.icons-EquipmentHats12 { --row: 318; }
.icons-EquipmentHats13 { --row: 319; }
.icons-EquipmentHats14 { --row: 320; }
.icons-EquipmentHats15 { --row: 321; }
.icons-EquipmentHats16 { --row: 322; }
.icons-EquipmentHats17 { --row: 323; }
.icons-EquipmentHats18 { --row: 324; }
.icons-EquipmentHats19 { --row: 325; }
.icons-EquipmentHats2 { --row: 326; }
.icons-EquipmentHats20 { --row: 327; }
.icons-EquipmentHats21 { --row: 328; }
.icons-EquipmentHats22 { --row: 329; }
.icons-EquipmentHats23 { --row: 330; }
.icons-EquipmentHats24 { --row: 331; }
.icons-EquipmentHats25 { --row: 332; }
.icons-EquipmentHats26 { --row: 333; }
.icons-EquipmentHats27 { --row: 334; }
.icons-EquipmentHats28 { --row: 335; }
.icons-EquipmentHats29 { --row: 336; }
.icons-EquipmentHats3 { --row: 337; }
.icons-EquipmentHats30 { --row: 338; }
.icons-EquipmentHats31 { --row: 339; }
.icons-EquipmentHats32 { --row: 340; }
.icons-EquipmentHats33 { --row: 341; }
.icons-EquipmentHats34 { --row: 342; }
.icons-EquipmentHats35 { --row: 343; }
.icons-EquipmentHats36 { --row: 344; }
.icons-EquipmentHats37 { --row: 345; }
.icons-EquipmentHats38 { --row: 346; }
.icons-EquipmentHats39 { --row: 347; }
.icons-EquipmentHats4 { --row: 348; }
.icons-EquipmentHats40 { --row: 349; }
.icons-EquipmentHats41 { --row: 350; }
.icons-EquipmentHats42 { --row: 351; }
.icons-EquipmentHats43 { --row: 352; }
.icons-EquipmentHats44 { --row: 353; }
.icons-EquipmentHats45 { --row: 354; }
.icons-EquipmentHats46 { --row: 355; }
.icons-EquipmentHats47 { --row: 356; }
.icons-EquipmentHats48 { --row: 357; }
.icons-EquipmentHats49 { --row: 358; }
.icons-EquipmentHats4Choppin { --row: 359; }
.icons-EquipmentHats5 { --row: 360; }
.icons-EquipmentHats50 { --row: 361; }
.icons-EquipmentHats51 { --row: 362; }
.icons-EquipmentHats52 { --row: 363; }
.icons-EquipmentHats53 { --row: 364; }
.icons-EquipmentHats54 { --row: 365; }
.icons-EquipmentHats55 { --row: 366; }
.icons-EquipmentHats56 { --row: 367; }
.icons-EquipmentHats57 { --row: 368; }
.icons-EquipmentHats58 { --row: 369; }
.icons-EquipmentHats59 { --row: 370; }
.icons-EquipmentHats6 { --row: 371; }
.icons-EquipmentHats60 { --row: 372; }
.icons-EquipmentHats61 { --row: 373; }
.icons-EquipmentHats62 { --row: 374; }
.icons-EquipmentHats63 { --row: 375; }
.icons-EquipmentHats64 { --row: 376; }
.icons-EquipmentHats65 { --row: 377; }
.icons-EquipmentHats66 { --row: 378; }
.icons-EquipmentHats67 { --row: 379; }
.icons-EquipmentHats68 { --row: 380; }
.icons-EquipmentHats69 { --row: 381; }
.icons-EquipmentHats7 { --row: 382; }
.icons-EquipmentHats8 { --row: 383; }
.icons-EquipmentHats9 { --row: 384; }
.icons-EquipmentHatsBeg1 { --row: 385; }
.icons-EquipmentKeychain0 { --row: 386; }
.icons-EquipmentKeychain1 { --row: 387; }
.icons-EquipmentKeychain10 { --row: 388; }
.icons-EquipmentKeychain11 { --row: 389; }
.icons-EquipmentKeychain12 { --row: 390; }
.icons-EquipmentKeychain13 { --row: 391; }
.icons-EquipmentKeychain14 { --row: 392; }
.icons-EquipmentKeychain15 { --row: 393; }
.icons-EquipmentKeychain16 { --row: 394; }
.icons-EquipmentKeychain17 { --row: 395; }
.icons-EquipmentKeychain18 { --row: 396; }
.icons-EquipmentKeychain19 { --row: 397; }
.icons-EquipmentKeychain2 { --row: 398; }
.icons-EquipmentKeychain20 { --row: 399; }
.icons-EquipmentKeychain21 { --row: 400; }
.icons-EquipmentKeychain22 { --row: 401; }
.icons-EquipmentKeychain23 { --row: 402; }
.icons-EquipmentKeychain24 { --row: 403; }
.icons-EquipmentKeychain3 { --row: 404; }
.icons-EquipmentKeychain4 { --row: 405; }
.icons-EquipmentKeychain5 { --row: 406; }
.icons-EquipmentKeychain6 { --row: 407; }
.icons-EquipmentKeychain7 { --row: 408; }
.icons-EquipmentKeychain8 { --row: 409; }
.icons-EquipmentKeychain9 { --row: 410; }
.icons-EquipmentPants1 { --row: 411; }
.icons-EquipmentPants10 { --row: 412; }
.icons-EquipmentPants11 { --row: 413; }
.icons-EquipmentPants12 { --row: 414; }
.icons-EquipmentPants13 { --row: 415; }
.icons-EquipmentPants14 { --row: 416; }
.icons-EquipmentPants15 { --row: 417; }
.icons-EquipmentPants16 { --row: 418; }
.icons-EquipmentPants17 { --row: 419; }
.icons-EquipmentPants18 { --row: 420; }
.icons-EquipmentPants19 { --row: 421; }
.icons-EquipmentPants2 { --row: 422; }
.icons-EquipmentPants20 { --row: 423; }
.icons-EquipmentPants21 { --row: 424; }
.icons-EquipmentPants22 { --row: 425; }
.icons-EquipmentPants23 { --row: 426; }
.icons-EquipmentPants3 { --row: 427; }
.icons-EquipmentPants4 { --row: 428; }
.icons-EquipmentPants5 { --row: 429; }
.icons-EquipmentPants6 { --row: 430; }
.icons-EquipmentPants7 { --row: 431; }
.icons-EquipmentPants8 { --row: 432; }
.icons-EquipmentPants9 { --row: 433; }
.icons-EquipmentPendant1 { --row: 434; }
.icons-EquipmentPendant10 { --row: 435; }
.icons-EquipmentPendant11 { --row: 436; }
.icons-EquipmentPendant12 { --row: 437; }
.icons-EquipmentPendant13 { --row: 438; }
.icons-EquipmentPendant14 { --row: 439; }
.icons-EquipmentPendant15 { --row: 440; }
.icons-EquipmentPendant16 { --row: 441; }
.icons-EquipmentPendant17 { --row: 442; }
.icons-EquipmentPendant18 { --row: 443; }
.icons-EquipmentPendant19 { --row: 444; }
.icons-EquipmentPendant2 { --row: 445; }
.icons-EquipmentPendant20 { --row: 446; }
.icons-EquipmentPendant21 { --row: 447; }
.icons-EquipmentPendant22 { --row: 448; }
.icons-EquipmentPendant23 { --row: 449; }
.icons-EquipmentPendant24 { --row: 450; }
.icons-EquipmentPendant25 { --row: 451; }
.icons-EquipmentPendant3 { --row: 452; }
.icons-EquipmentPendant4 { --row: 453; }
.icons-EquipmentPendant5 { --row: 454; }
.icons-EquipmentPendant6 { --row: 455; }
.icons-EquipmentPendant7 { --row: 456; }
.icons-EquipmentPendant8 { --row: 457; }
.icons-EquipmentPendant9 { --row: 458; }
.icons-EquipmentPunching1 { --row: 459; }
.icons-EquipmentPunching2 { --row: 460; }
.icons-EquipmentPunching3 { --row: 461; }
.icons-EquipmentPunching4 { --row: 462; }
.icons-EquipmentPunching5 { --row: 463; }
.icons-EquipmentRings1 { --row: 464; }
.icons-EquipmentRings10 { --row: 465; }
.icons-EquipmentRings11 { --row: 466; }
.icons-EquipmentRings12 { --row: 467; }
.icons-EquipmentRings13 { --row: 468; }
.icons-EquipmentRings14 { --row: 469; }
.icons-EquipmentRings15 { --row: 470; }
.icons-EquipmentRings16 { --row: 471; }
.icons-EquipmentRings17 { --row: 472; }
.icons-EquipmentRings18 { --row: 473; }
.icons-EquipmentRings19 { --row: 474; }
.icons-EquipmentRings2 { --row: 475; }
.icons-EquipmentRings20 { --row: 476; }
.icons-EquipmentRings21 { --row: 477; }
.icons-EquipmentRings22 { --row: 478; }
.icons-EquipmentRings23 { --row: 479; }
.icons-EquipmentRings3 { --row: 480; }
.icons-EquipmentRings4 { --row: 481; }
.icons-EquipmentRings5 { --row: 482; }
.icons-EquipmentRings6 { --row: 483; }
.icons-EquipmentRings7 { --row: 484; }
.icons-EquipmentRings8 { --row: 485; }
.icons-EquipmentRings9 { --row: 486; }
.icons-EquipmentRingsChat1 { --row: 487; }
.icons-EquipmentRingsChat2 { --row: 488; }
.icons-EquipmentRingsChat3 { --row: 489; }
.icons-EquipmentRingsChat4 { --row: 490; }
.icons-EquipmentRingsChat5 { --row: 491; }
.icons-EquipmentRingsChat6 { --row: 492; }
.icons-EquipmentRingsChat7 { --row: 493; }
.icons-EquipmentRingsChat8 { --row: 494; }
.icons-EquipmentRingsChat9 { --row: 495; }
.icons-EquipmentRingsFishing1 { --row: 496; }
.icons-EquipmentRingsFishing2 { --row: 497; }
.icons-EquipmentRingsFishing3 { --row: 498; }
.icons-EquipmentShirts1 { --row: 499; }
.icons-EquipmentShirts10 { --row: 500; }
.icons-EquipmentShirts11 { --row: 501; }
.icons-EquipmentShirts12 { --row: 502; }
.icons-EquipmentShirts13 { --row: 503; }
.icons-EquipmentShirts14 { --row: 504; }
.icons-EquipmentShirts15 { --row: 505; }
.icons-EquipmentShirts16 { --row: 506; }
.icons-EquipmentShirts17 { --row: 507; }
.icons-EquipmentShirts18 { --row: 508; }
.icons-EquipmentShirts19 { --row: 509; }
.icons-EquipmentShirts2 { --row: 510; }
.icons-EquipmentShirts20 { --row: 511; }
.icons-EquipmentShirts21 { --row: 512; }
.icons-EquipmentShirts22 { --row: 513; }
.icons-EquipmentShirts23 { --row: 514; }
.icons-EquipmentShirts24 { --row: 515; }
.icons-EquipmentShirts25 { --row: 516; }
.icons-EquipmentShirts26 { --row: 517; }
.icons-EquipmentShirts27 { --row: 518; }
.icons-EquipmentShirts28 { --row: 519; }
.icons-EquipmentShirts29 { --row: 520; }
.icons-EquipmentShirts3 { --row: 521; }
.icons-EquipmentShirts30 { --row: 522; }
.icons-EquipmentShirts31 { --row: 523; }
.icons-EquipmentShirts4 { --row: 524; }
.icons-EquipmentShirts5 { --row: 525; }
.icons-EquipmentShirts6 { --row: 526; }
.icons-EquipmentShirts7 { --row: 527; }
.icons-EquipmentShirts8 { --row: 528; }
.icons-EquipmentShirts9 { --row: 529; }
.icons-EquipmentShoes1 { --row: 530; }
.icons-EquipmentShoes10 { --row: 531; }
.icons-EquipmentShoes11 { --row: 532; }
.icons-EquipmentShoes12 { --row: 533; }
.icons-EquipmentShoes13 { --row: 534; }
.icons-EquipmentShoes14 { --row: 535; }
.icons-EquipmentShoes15 { --row: 536; }
.icons-EquipmentShoes16 { --row: 537; }
.icons-EquipmentShoes17 { --row: 538; }
.icons-EquipmentShoes18 { --row: 539; }
.icons-EquipmentShoes19 { --row: 540; }
.icons-EquipmentShoes2 { --row: 541; }
.icons-EquipmentShoes20 { --row: 542; }
.icons-EquipmentShoes21 { --row: 543; }
.icons-EquipmentShoes22 { --row: 544; }
.icons-EquipmentShoes23 { --row: 545; }
.icons-EquipmentShoes3 { --row: 546; }
.icons-EquipmentShoes4 { --row: 547; }
.icons-EquipmentShoes5 { --row: 548; }
.icons-EquipmentShoes6 { --row: 549; }
.icons-EquipmentShoes7 { --row: 550; }
.icons-EquipmentShoes8 { --row: 551; }
.icons-EquipmentShoes9 { --row: 552; }
.icons-EquipmentSmithingTabs1 { --row: 553; }
.icons-EquipmentSmithingTabs2 { --row: 554; }
.icons-EquipmentSmithingTabs3 { --row: 555; }
.icons-EquipmentSmithingTabs4 { --row: 556; }
.icons-EquipmentStatues1 { --row: 557; }
.icons-EquipmentStatues10 { --row: 558; }
.icons-EquipmentStatues11 { --row: 559; }
.icons-EquipmentStatues12 { --row: 560; }
.icons-EquipmentStatues13 { --row: 561; }
.icons-EquipmentStatues14 { --row: 562; }
.icons-EquipmentStatues15 { --row: 563; }
.icons-EquipmentStatues16 { --row: 564; }
.icons-EquipmentStatues17 { --row: 565; }
.icons-EquipmentStatues18 { --row: 566; }
.icons-EquipmentStatues19 { --row: 567; }
.icons-EquipmentStatues2 { --row: 568; }
.icons-EquipmentStatues3 { --row: 569; }
.icons-EquipmentStatues4 { --row: 570; }
.icons-EquipmentStatues5 { --row: 571; }
.icons-EquipmentStatues6 { --row: 572; }
.icons-EquipmentStatues7 { --row: 573; }
.icons-EquipmentStatues8 { --row: 574; }
.icons-EquipmentStatues9 { --row: 575; }
.icons-EquipmentSword1 { --row: 576; }
.icons-EquipmentSword2 { --row: 577; }
.icons-EquipmentSword3 { --row: 578; }
.icons-EquipmentTools1 { --row: 579; }
.icons-EquipmentTools10 { --row: 580; }
.icons-EquipmentTools11 { --row: 581; }
.icons-EquipmentTools2 { --row: 582; }
.icons-EquipmentTools3 { --row: 583; }
.icons-EquipmentTools4 { --row: 584; }
.icons-EquipmentTools5 { --row: 585; }
.icons-EquipmentTools6 { --row: 586; }
.icons-EquipmentTools7 { --row: 587; }
.icons-EquipmentTools8 { --row: 588; }
.icons-EquipmentTools9 { --row: 589; }
.icons-EquipmentToolsHatchet0 { --row: 590; }
.icons-EquipmentToolsHatchet1 { --row: 591; }
.icons-EquipmentToolsHatchet10 { --row: 592; }
.icons-EquipmentToolsHatchet2 { --row: 593; }
.icons-EquipmentToolsHatchet2b { --row: 594; }
.icons-EquipmentToolsHatchet3 { --row: 595; }
.icons-EquipmentToolsHatchet4 { --row: 596; }
.icons-EquipmentToolsHatchet5 { --row: 597; }
.icons-EquipmentToolsHatchet6 { --row: 598; }
.icons-EquipmentToolsHatchet7 { --row: 599; }
.icons-EquipmentToolsHatchet8 { --row: 600; }
.icons-EquipmentToolsHatchet9 { --row: 601; }
.icons-EquipmentTransparent1 { --row: 602; }
.icons-EquipmentTransparent10 { --row: 603; }
.icons-EquipmentTransparent101 { --row: 604; }
.icons-EquipmentTransparent102 { --row: 605; }
.icons-EquipmentTransparent103 { --row: 606; }
.icons-EquipmentTransparent104 { --row: 607; }
.icons-EquipmentTransparent105 { --row: 608; }
.icons-EquipmentTransparent106 { --row: 609; }
.icons-EquipmentTransparent107 { --row: 610; }
.icons-EquipmentTransparent108 { --row: 611; }
.icons-EquipmentTransparent11 { --row: 612; }
.icons-EquipmentTransparent12 { --row: 613; }
.icons-EquipmentTransparent13 { --row: 614; }
.icons-EquipmentTransparent14 { --row: 615; }
.icons-EquipmentTransparent15 { --row: 616; }
.icons-EquipmentTransparent16 { --row: 617; }
.icons-EquipmentTransparent17 { --row: 618; }
.icons-EquipmentTransparent2 { --row: 619; }
.icons-EquipmentTransparent201 { --row: 620; }
.icons-EquipmentTransparent202 { --row: 621; }
.icons-EquipmentTransparent203 { --row: 622; }
.icons-EquipmentTransparent204 { --row: 623; }
.icons-EquipmentTransparent205 { --row: 624; }
.icons-EquipmentTransparent206 { --row: 625; }
.icons-EquipmentTransparent207 { --row: 626; }
.icons-EquipmentTransparent208 { --row: 627; }
.icons-EquipmentTransparent3 { --row: 628; }
.icons-EquipmentTransparent4 { --row: 629; }
.icons-EquipmentTransparent5 { --row: 630; }
.icons-EquipmentTransparent6 { --row: 631; }
.icons-EquipmentTransparent7 { --row: 632; }
.icons-EquipmentTransparent8 { --row: 633; }
.icons-EquipmentTransparent9 { --row: 634; }
.icons-EquipmentWands1 { --row: 635; }
.icons-EquipmentWands2 { --row: 636; }
.icons-EquipmentWands3 { --row: 637; }
.icons-EquipmentWands4 { --row: 638; }
.icons-EquipmentWands5 { --row: 639; }
.icons-EquipmentWands6 { --row: 640; }
.icons-EquipmentWands7 { --row: 641; }
.icons-EquipmentWeapons1 { --row: 642; }
.icons-EquipmentWeapons2 { --row: 643; }
.icons-ExpBalloon1 { --row: 644; }
.icons-ExpBalloon2 { --row: 645; }
.icons-ExpBalloon3 { --row: 646; }
.icons-ExpSmith1 { --row: 647; }
.icons-FillerMaterial { --row: 648; }
.icons-Fish1 { --row: 649; }
.icons-Fish1D { --row: 650; }
.icons-Fish2 { --row: 651; }
.icons-Fish3 { --row: 652; }
.icons-Fish3D { --row: 653; }
.icons-Fish4 { --row: 654; }
.icons-Fish5 { --row: 655; }
.icons-FishM { --row: 656; }
.icons-FishSmall { --row: 657; }
.icons-FishingRod1 { --row: 658; }
.icons-FishingRod2 { --row: 659; }
.icons-FishingRod3 { --row: 660; }
.icons-FishingRod4 { --row: 661; }
.icons-FishingRod5 { --row: 662; }
.icons-FishingRod6 { --row: 663; }
.icons-FishingRod7 { --row: 664; }
.icons-FoodCatch1 { --row: 665; }
.icons-FoodChoppin1 { --row: 666; }
.icons-FoodEvent1 { --row: 667; }
.icons-FoodEvent2 { --row: 668; }
.icons-FoodEvent3 { --row: 669; }
.icons-FoodEvent4 { --row: 670; }
.icons-FoodEvent5 { --row: 671; }
.icons-FoodEvent6 { --row: 672; }
.icons-FoodEvent7 { --row: 673; }
.icons-FoodEvent8 { --row: 674; }
.icons-FoodFish1 { --row: 675; }
.icons-FoodG1 { --row: 676; }
.icons-FoodG2 { --row: 677; }
.icons-FoodG3 { --row: 678; }
.icons-FoodG4 { --row: 679; }
.icons-FoodG5 { --row: 680; }
.icons-FoodG6 { --row: 681; }
.icons-FoodHealth1 { --row: 682; }
.icons-FoodHealth10 { --row: 683; }
.icons-FoodHealth11 { --row: 684; }
.icons-FoodHealth1d { --row: 685; }
.icons-FoodHealth2 { --row: 686; }
.icons-FoodHealth2d { --row: 687; }
.icons-FoodHealth3 { --row: 688; }
.icons-FoodHealth3d { --row: 689; }
.icons-FoodHealth4 { --row: 690; }
.icons-FoodHealth5 { --row: 691; }
.icons-FoodHealth6 { --row: 692; }
.icons-FoodHealth7 { --row: 693; }
.icons-FoodHealth8 { --row: 694; }
.icons-FoodHealth9 { --row: 695; }
.icons-FoodMining1 { --row: 696; }
.icons-FoodPotGr1 { --row: 697; }
.icons-FoodPotGr2 { --row: 698; }
.icons-FoodPotGr3 { --row: 699; }
.icons-FoodPotMana1 { --row: 700; }
.icons-FoodPotMana2 { --row: 701; }
.icons-FoodPotMana3 { --row: 702; }
.icons-FoodPotOr1 { --row: 703; }
.icons-FoodPotOr2 { --row: 704; }
.icons-FoodPotOr3 { --row: 705; }
.icons-FoodPotRe1 { --row: 706; }
.icons-FoodPotRe2 { --row: 707; }
.icons-FoodPotRe3 { --row: 708; }
.icons-FoodPotYe1 { --row: 709; }
.icons-FoodPotYe2 { --row: 710; }
.icons-FoodPotYe3 { --row: 711; }
.icons-FoodTrapping1 { --row: 712; }
.icons-FoodWorship1 { --row: 713; }
.icons-Forest1 { --row: 714; }
.icons-Forest2 { --row: 715; }
.icons-Forest3 { --row: 716; }
.icons-ForestTree { --row: 717; }
.icons-GemP1 { --row: 718; }
.icons-GemP10 { --row: 719; }
.icons-GemP11 { --row: 720; }
.icons-GemP12 { --row: 721; }
.icons-GemP13 { --row: 722; }
.icons-GemP14 { --row: 723; }
.icons-GemP15 { --row: 724; }
.icons-GemP16 { --row: 725; }
.icons-GemP2 { --row: 726; }
.icons-GemP3 { --row: 727; }
.icons-GemP3_x1 { --row: 728; }
.icons-GemP4 { --row: 729; }
.icons-GemP4_x1 { --row: 730; }
.icons-GemP5 { --row: 731; }
.icons-GemP5_x1 { --row: 732; }
.icons-GemP6 { --row: 733; }
.icons-GemP6_x1 { --row: 734; }
.icons-GemP7 { --row: 735; }
.icons-GemP7_x1 { --row: 736; }
.icons-GemP8 { --row: 737; }
.icons-GemP8_x1 { --row: 738; }
.icons-GemP9 { --row: 739; }
.icons-GemQ1 { --row: 740; }
.icons-GemQ2 { --row: 741; }
.icons-GemQ3 { --row: 742; }
.icons-GemQ4 { --row: 743; }
.icons-GemQ5 { --row: 744; }
.icons-GemQ6 { --row: 745; }
.icons-GemQ7 { --row: 746; }
.icons-GemQ8 { --row: 747; }
.icons-GemQ9 { --row: 748; }
.icons-GemQ9_x1 { --row: 749; }
.icons-Gfoodcoupon { --row: 750; }
.icons-Godshard { --row: 751; }
.icons-GodshardBar { --row: 752; }
.icons-Gold { --row: 753; }
.icons-GoldBar { --row: 754; }
.icons-GoldricP1 { --row: 755; }
.icons-GoldricP2 { --row: 756; }
.icons-GoldricP3 { --row: 757; }
.icons-Grasslands1 { --row: 758; }
.icons-Grasslands2 { --row: 759; }
.icons-Grasslands3 { --row: 760; }
.icons-Grasslands4 { --row: 761; }
.icons-Heart { --row: 762; }
.icons-Hgg { --row: 763; }
.icons-Ht { --row: 764; }
.icons-IceMountains2 { --row: 765; }
.icons-InvBag1 { --row: 766; }
.icons-InvBag100 { --row: 767; }
.icons-InvBag101 { --row: 768; }
.icons-InvBag102 { --row: 769; }
.icons-InvBag103 { --row: 770; }
.icons-InvBag104 { --row: 771; }
.icons-InvBag105 { --row: 772; }
.icons-InvBag106 { --row: 773; }
.icons-InvBag107 { --row: 774; }
.icons-InvBag108 { --row: 775; }
.icons-InvBag109 { --row: 776; }
.icons-InvBag110 { --row: 777; }
.icons-InvBag2 { --row: 778; }
.icons-InvBag21 { --row: 779; }
.icons-InvBag22 { --row: 780; }
.icons-InvBag23 { --row: 781; }
.icons-InvBag24 { --row: 782; }
.icons-InvBag25 { --row: 783; }
.icons-InvBag26 { --row: 784; }
.icons-InvBag3 { --row: 785; }
.icons-InvBag4 { --row: 786; }
.icons-InvBag5 { --row: 787; }
.icons-InvBag6 { --row: 788; }
.icons-InvBag7 { --row: 789; }
.icons-InvBag8 { --row: 790; }
.icons-InvBag9 { --row: 791; }
.icons-InvStorage1 { --row: 792; }
.icons-InvStorage10 { --row: 793; }
.icons-InvStorage11 { --row: 794; }
.icons-InvStorage12 { --row: 795; }
.icons-InvStorage13 { --row: 796; }
.icons-InvStorage14 { --row: 797; }
.icons-InvStorage15 { --row: 798; }
.icons-InvStorage16 { --row: 799; }
.icons-InvStorage17 { --row: 800; }
.icons-InvStorage18 { --row: 801; }
.icons-InvStorage19 { --row: 802; }
.icons-InvStorage2 { --row: 803; }
.icons-InvStorage20 { --row: 804; }
.icons-InvStorage21 { --row: 805; }
.icons-InvStorage22 { --row: 806; }
.icons-InvStorage23 { --row: 807; }
.icons-InvStorage3 { --row: 808; }
.icons-InvStorage31 { --row: 809; }
.icons-InvStorage32 { --row: 810; }
.icons-InvStorage33 { --row: 811; }
.icons-InvStorage34 { --row: 812; }
.icons-InvStorage35 { --row: 813; }
.icons-InvStorage36 { --row: 814; }
.icons-InvStorage37 { --row: 815; }
.icons-InvStorage38 { --row: 816; }
.icons-InvStorage39 { --row: 817; }
.icons-InvStorage4 { --row: 818; }
.icons-InvStorage40 { --row: 819; }
.icons-InvStorage41 { --row: 820; }
.icons-InvStorage42 { --row: 821; }
.icons-InvStorage5 { --row: 822; }
.icons-InvStorage6 { --row: 823; }
.icons-InvStorage7 { --row: 824; }
.icons-InvStorage8 { --row: 825; }
.icons-InvStorage9 { --row: 826; }
.icons-InvStorageF { --row: 827; }
.icons-Iron { --row: 828; }
.icons-IronBar { --row: 829; }
.icons-ItemsCoupon1 { --row: 830; }
.icons-ItemsCoupon2 { --row: 831; }
.icons-JobApplication { --row: 832; }
.icons-Jungle1 { --row: 833; }
.icons-Jungle2 { --row: 834; }
.icons-Jungle3 { --row: 835; }
.icons-JungleTree { --row: 836; }
.icons-Key1 { --row: 837; }
.icons-Key2 { --row: 838; }
.icons-Key3 { --row: 839; }
.icons-Leaf1 { --row: 840; }
.icons-Leaf2 { --row: 841; }
.icons-Leaf3 { --row: 842; }
.icons-Line1 { --row: 843; }
.icons-Line10 { --row: 844; }
.icons-Line11 { --row: 845; }
.icons-Line12 { --row: 846; }
.icons-Line13 { --row: 847; }
.icons-Line14 { --row: 848; }
.icons-Line15 { --row: 849; }
.icons-Line2 { --row: 850; }
.icons-Line3 { --row: 851; }
.icons-Line4 { --row: 852; }
.icons-Line5 { --row: 853; }
.icons-Line6 { --row: 854; }
.icons-Line7 { --row: 855; }
.icons-Line8 { --row: 856; }
.icons-Line9 { --row: 857; }
.icons-LockInv2 { --row: 858; }
.icons-LockedInvSpace { --row: 859; }
.icons-LootDice { --row: 860; }
.icons-Lustre { --row: 861; }
.icons-LustreBar { --row: 862; }
.icons-MaxCapBag1 { --row: 863; }
.icons-MaxCapBag10 { --row: 864; }
.icons-MaxCapBag2 { --row: 865; }
.icons-MaxCapBag3 { --row: 866; }
.icons-MaxCapBag4 { --row: 867; }
.icons-MaxCapBag5 { --row: 868; }
.icons-MaxCapBag6 { --row: 869; }
.icons-MaxCapBag7 { --row: 870; }
.icons-MaxCapBag8 { --row: 871; }
.icons-MaxCapBag9 { --row: 872; }
.icons-MaxCapBagB0 { --row: 873; }
.icons-MaxCapBagB1 { --row: 874; }
.icons-MaxCapBagB2 { --row: 875; }
.icons-MaxCapBagB3 { --row: 876; }
.icons-MaxCapBagB4 { --row: 877; }
.icons-MaxCapBagB5 { --row: 878; }
.icons-MaxCapBagB6 { --row: 879; }
.icons-MaxCapBagF3 { --row: 880; }
.icons-MaxCapBagF4 { --row: 881; }
.icons-MaxCapBagF5 { --row: 882; }
.icons-MaxCapBagF6 { --row: 883; }
.icons-MaxCapBagFi0 { --row: 884; }
.icons-MaxCapBagFi1 { --row: 885; }
.icons-MaxCapBagFi2 { --row: 886; }
.icons-MaxCapBagFi3 { --row: 887; }
.icons-MaxCapBagFi4 { --row: 888; }
.icons-MaxCapBagFi5 { --row: 889; }
.icons-MaxCapBagFi6 { --row: 890; }
.icons-MaxCapBagM1 { --row: 891; }
.icons-MaxCapBagM2 { --row: 892; }
.icons-MaxCapBagM3 { --row: 893; }
.icons-MaxCapBagM4 { --row: 894; }
.icons-MaxCapBagM5 { --row: 895; }
.icons-MaxCapBagM6 { --row: 896; }
.icons-MaxCapBagM7 { --row: 897; }
.icons-MaxCapBagMi6 { --row: 898; }
.icons-MaxCapBagS0 { --row: 899; }
.icons-MaxCapBagS1 { --row: 900; }
.icons-MaxCapBagS2 { --row: 901; }
.icons-MaxCapBagS3 { --row: 902; }
.icons-MaxCapBagS4 { --row: 903; }
.icons-MaxCapBagS5 { --row: 904; }
.icons-MaxCapBagT1 { --row: 905; }
.icons-MaxCapBagT2 { --row: 906; }
.icons-MaxCapBagT3 { --row: 907; }
.icons-MaxCapBagT4 { --row: 908; }
.icons-MaxCapBagT5 { --row: 909; }
.icons-MaxCapBagT6 { --row: 910; }
.icons-MaxCapBagTr0 { --row: 911; }
.icons-MaxCapBagTr1 { --row: 912; }
.icons-MaxCapBagTr2 { --row: 913; }
.icons-MaxCapBagTr3 { --row: 914; }
.icons-MaxCapBagTr4 { --row: 915; }
.icons-MaxCapBagTr5 { --row: 916; }
.icons-Mayo { --row: 917; }
.icons-Meatloaf { --row: 918; }
.icons-MidnightCookie { --row: 919; }
.icons-NPCtoken1 { --row: 920; }
.icons-NPCtoken10 { --row: 921; }
.icons-NPCtoken11 { --row: 922; }
.icons-NPCtoken12 { --row: 923; }
.icons-NPCtoken13 { --row: 924; }
.icons-NPCtoken14 { --row: 925; }
.icons-NPCtoken15 { --row: 926; }
.icons-NPCtoken16 { --row: 927; }
.icons-NPCtoken17 { --row: 928; }
.icons-NPCtoken18 { --row: 929; }
.icons-NPCtoken19 { --row: 930; }
.icons-NPCtoken2 { --row: 931; }
.icons-NPCtoken20 { --row: 932; }
.icons-NPCtoken21 { --row: 933; }
.icons-NPCtoken22 { --row: 934; }
.icons-NPCtoken23 { --row: 935; }
.icons-NPCtoken24 { --row: 936; }
.icons-NPCtoken25 { --row: 937; }
.icons-NPCtoken26 { --row: 938; }
.icons-NPCtoken27 { --row: 939; }
.icons-NPCtoken28 { --row: 940; }
.icons-NPCtoken29 { --row: 941; }
.icons-NPCtoken3 { --row: 942; }
.icons-NPCtoken30 { --row: 943; }
.icons-NPCtoken31 { --row: 944; }
.icons-NPCtoken32 { --row: 945; }
.icons-NPCtoken33 { --row: 946; }
.icons-NPCtoken34 { --row: 947; }
.icons-NPCtoken35 { --row: 948; }
.icons-NPCtoken36 { --row: 949; }
.icons-NPCtoken37 { --row: 950; }
.icons-NPCtoken38 { --row: 951; }
.icons-NPCtoken39 { --row: 952; }
.icons-NPCtoken4 { --row: 953; }
.icons-NPCtoken40 { --row: 954; }
.icons-NPCtoken41 { --row: 955; }
.icons-NPCtoken5 { --row: 956; }
.icons-NPCtoken6 { --row: 957; }
.icons-NPCtoken7 { --row: 958; }
.icons-NPCtoken8 { --row: 959; }
.icons-NPCtoken9 { --row: 960; }
.icons-OakTree { --row: 961; }
.icons-ObolAmarokA { --row: 962; }
.icons-ObolBronze0 { --row: 963; }
.icons-ObolBronze1 { --row: 964; }
.icons-ObolBronze2 { --row: 965; }
.icons-ObolBronze3 { --row: 966; }
.icons-ObolBronzeCard { --row: 967; }
.icons-ObolBronzeCatching { --row: 968; }
.icons-ObolBronzeChoppin { --row: 969; }
.icons-ObolBronzeCons { --row: 970; }
.icons-ObolBronzeDamage { --row: 971; }
.icons-ObolBronzeDef { --row: 972; }
.icons-ObolBronzeEXP { --row: 973; }
.icons-ObolBronzeFishing { --row: 974; }
.icons-ObolBronzeKill { --row: 975; }
.icons-ObolBronzeMining { --row: 976; }
.icons-ObolBronzePop { --row: 977; }
.icons-ObolBronzeTrapping { --row: 978; }
.icons-ObolBronzeWorship { --row: 979; }
.icons-ObolChizoarA { --row: 980; }
.icons-ObolEfauntA { --row: 981; }
.icons-ObolFrag { --row: 982; }
.icons-ObolGold0 { --row: 983; }
.icons-ObolGold1 { --row: 984; }
.icons-ObolGold2 { --row: 985; }
.icons-ObolGold3 { --row: 986; }
.icons-ObolGoldCard { --row: 987; }
.icons-ObolGoldCatching { --row: 988; }
.icons-ObolGoldChoppin { --row: 989; }
.icons-ObolGoldCons { --row: 990; }
.icons-ObolGoldDamage { --row: 991; }
.icons-ObolGoldDef { --row: 992; }
.icons-ObolGoldEXP { --row: 993; }
.icons-ObolGoldFishing { --row: 994; }
.icons-ObolGoldKill { --row: 995; }
.icons-ObolGoldLuck { --row: 996; }
.icons-ObolGoldMining { --row: 997; }
.icons-ObolGoldMoney { --row: 998; }
.icons-ObolGoldPop { --row: 999; }
.icons-ObolGoldTrapping { --row: 1000; }
.icons-ObolGoldWorship { --row: 1001; }
.icons-ObolLocked1 { --row: 1002; }
.icons-ObolLocked2 { --row: 1003; }
.icons-ObolLocked3 { --row: 1004; }
.icons-ObolLocked4 { --row: 1005; }
.icons-ObolPink0 { --row: 1006; }
.icons-ObolPink1 { --row: 1007; }
.icons-ObolPink2 { --row: 1008; }
.icons-ObolPink3 { --row: 1009; }
.icons-ObolPinkCard { --row: 1010; }
.icons-ObolPinkCatching { --row: 1011; }
.icons-ObolPinkChoppin { --row: 1012; }
.icons-ObolPinkCons { --row: 1013; }
.icons-ObolPinkDamage { --row: 1014; }
.icons-ObolPinkDef { --row: 1015; }
.icons-ObolPinkEXP { --row: 1016; }
.icons-ObolPinkFishing { --row: 1017; }
.icons-ObolPinkKill { --row: 1018; }
.icons-ObolPinkLuck { --row: 1019; }
.icons-ObolPinkMining { --row: 1020; }
.icons-ObolPinkPop { --row: 1021; }
.icons-ObolPinkTrapping { --row: 1022; }
.icons-ObolPinkWorship { --row: 1023; }
.icons-ObolPlatinum0 { --row: 1024; }
.icons-ObolPlatinum1 { --row: 1025; }
.icons-ObolPlatinum2 { --row: 1026; }
.icons-ObolPlatinum3 { --row: 1027; }
.icons-ObolPlatinumCard { --row: 1028; }
.icons-ObolPlatinumCatching { --row: 1029; }
.icons-ObolPlatinumChoppin { --row: 1030; }
.icons-ObolPlatinumCons { --row: 1031; }
.icons-ObolPlatinumDamage { --row: 1032; }
.icons-ObolPlatinumDef { --row: 1033; }
.icons-ObolPlatinumEXP { --row: 1034; }
.icons-ObolPlatinumFishing { --row: 1035; }
.icons-ObolPlatinumKill { --row: 1036; }
.icons-ObolPlatinumLuck { --row: 1037; }
.icons-ObolPlatinumMining { --row: 1038; }
.icons-ObolPlatinumPop { --row: 1039; }
.icons-ObolPlatinumSpeed { --row: 1040; }
.icons-ObolPlatinumTrapping { --row: 1041; }
.icons-ObolPlatinumWorship { --row: 1042; }
.icons-ObolSilver0 { --row: 1043; }
.icons-ObolSilver1 { --row: 1044; }
.icons-ObolSilver2 { --row: 1045; }
.icons-ObolSilver3 { --row: 1046; }
.icons-ObolSilverCard { --row: 1047; }
.icons-ObolSilverCatching { --row: 1048; }
.icons-ObolSilverChoppin { --row: 1049; }
.icons-ObolSilverCons { --row: 1050; }
.icons-ObolSilverDamage { --row: 1051; }
.icons-ObolSilverDef { --row: 1052; }
.icons-ObolSilverEXP { --row: 1053; }
.icons-ObolSilverFishing { --row: 1054; }
.icons-ObolSilverKill { --row: 1055; }
.icons-ObolSilverLuck { --row: 1056; }
.icons-ObolSilverMining { --row: 1057; }
.icons-ObolSilverMoney { --row: 1058; }
.icons-ObolSilverPop { --row: 1059; }
.icons-ObolSilverTrapping { --row: 1060; }
.icons-ObolSilverWorship { --row: 1061; }
.icons-OilBarrel1 { --row: 1062; }
.icons-OilBarrel2 { --row: 1063; }
.icons-OilBarrel3 { --row: 1064; }
.icons-OilBarrel4 { --row: 1065; }
.icons-OilBarrel5 { --row: 1066; }
.icons-PalmTree { --row: 1067; }
.icons-PalmTreeD { --row: 1068; }
.icons-Pdaily0 { --row: 1069; }
.icons-Pdaily1 { --row: 1070; }
.icons-Peanut { --row: 1071; }
.icons-PeanutG { --row: 1072; }
.icons-PeanutS { --row: 1073; }
.icons-Pearl1 { --row: 1074; }
.icons-Pearl2 { --row: 1075; }
.icons-Pearl3 { --row: 1076; }
.icons-Pearl4 { --row: 1077; }
.icons-Plat { --row: 1078; }
.icons-PlatBar { --row: 1079; }
.icons-PlatD { --row: 1080; }
.icons-PremiumGem { --row: 1081; }
.icons-PureWater { --row: 1082; }
.icons-PureWater2 { --row: 1083; }
.icons-Qmark { --row: 1084; }
.icons-Quest1 { --row: 1085; }
.icons-Quest10 { --row: 1086; }
.icons-Quest11 { --row: 1087; }
.icons-Quest12 { --row: 1088; }
.icons-Quest13 { --row: 1089; }
.icons-Quest14 { --row: 1090; }
.icons-Quest15 { --row: 1091; }
.icons-Quest16 { --row: 1092; }
.icons-Quest17 { --row: 1093; }
.icons-Quest18 { --row: 1094; }
.icons-Quest19 { --row: 1095; }
.icons-Quest20 { --row: 1096; }
.icons-Quest21 { --row: 1097; }
.icons-Quest22 { --row: 1098; }
.icons-Quest23 { --row: 1099; }
.icons-Quest24 { --row: 1100; }
.icons-Quest25 { --row: 1101; }
.icons-Quest26 { --row: 1102; }
.icons-Quest27 { --row: 1103; }
.icons-Quest28 { --row: 1104; }
.icons-Quest29 { --row: 1105; }
.icons-Quest3 { --row: 1106; }
.icons-Quest30 { --row: 1107; }
.icons-Quest31 { --row: 1108; }
.icons-Quest32 { --row: 1109; }
.icons-Quest33 { --row: 1110; }
.icons-Quest34 { --row: 1111; }
.icons-Quest35 { --row: 1112; }
.icons-Quest36 { --row: 1113; }
.icons-Quest37 { --row: 1114; }
.icons-Quest38 { --row: 1115; }
.icons-Quest39 { --row: 1116; }
.icons-Quest4 { --row: 1117; }
.icons-Quest40 { --row: 1118; }
.icons-Quest41 { --row: 1119; }
.icons-Quest42 { --row: 1120; }
.icons-Quest43 { --row: 1121; }
.icons-Quest44 { --row: 1122; }
.icons-Quest45 { --row: 1123; }
.icons-Quest46 { --row: 1124; }
.icons-Quest47 { --row: 1125; }
.icons-Quest48 { --row: 1126; }
.icons-Quest49 { --row: 1127; }
.icons-Quest5 { --row: 1128; }
.icons-Quest50 { --row: 1129; }
.icons-Quest51 { --row: 1130; }
.icons-Quest52 { --row: 1131; }
.icons-Quest53 { --row: 1132; }
.icons-Quest54 { --row: 1133; }
.icons-Quest55 { --row: 1134; }
.icons-Quest56 { --row: 1135; }
.icons-Quest57 { --row: 1136; }
.icons-Quest58 { --row: 1137; }
.icons-Quest59 { --row: 1138; }
.icons-Quest6 { --row: 1139; }
.icons-Quest60 { --row: 1140; }
.icons-Quest61 { --row: 1141; }
.icons-Quest62 { --row: 1142; }
.icons-Quest63 { --row: 1143; }
.icons-Quest64 { --row: 1144; }
.icons-Quest7 { --row: 1145; }
.icons-Quest8 { --row: 1146; }
.icons-Quest9 { --row: 1147; }
.icons-Refinery1 { --row: 1148; }
.icons-Refinery2 { --row: 1149; }
.icons-Refinery3 { --row: 1150; }
.icons-Refinery4 { --row: 1151; }
.icons-Refinery5 { --row: 1152; }
.icons-Refinery6 { --row: 1153; }
.icons-ResetBox { --row: 1154; }
.icons-ResetCompleted { --row: 1155; }
.icons-ResetCompletedS { --row: 1156; }
.icons-ResetFrag { --row: 1157; }
.icons-SaharanFoal { --row: 1158; }
.icons-Secretstone { --row: 1159; }
.icons-Sewers1 { --row: 1160; }
.icons-Sewers1b { --row: 1161; }
.icons-Sewers2 { --row: 1162; }
.icons-Sewers3 { --row: 1163; }
.icons-SilverPen { --row: 1164; }
.icons-SmithingHammerChisel { --row: 1165; }
.icons-SmithingHammerChisel2 { --row: 1166; }
.icons-SmithingRecipes1 { --row: 1167; }
.icons-SmithingRecipes2 { --row: 1168; }
.icons-SmithingRecipes3 { --row: 1169; }
.icons-SmithingRecipes4 { --row: 1170; }
.icons-SnowA1 { --row: 1171; }
.icons-SnowA2 { --row: 1172; }
.icons-SnowA2a { --row: 1173; }
.icons-SnowA3 { --row: 1174; }
.icons-SnowA4 { --row: 1175; }
.icons-SnowB1 { --row: 1176; }
.icons-SnowB2 { --row: 1177; }
.icons-SnowB2a { --row: 1178; }
.icons-SnowB3 { --row: 1179; }
.icons-SnowB4 { --row: 1180; }
.icons-SnowB5 { --row: 1181; }
.icons-SnowC1 { --row: 1182; }
.icons-SnowC2 { --row: 1183; }
.icons-SnowC3 { --row: 1184; }
.icons-SnowC4 { --row: 1185; }
.icons-SnowC4a { --row: 1186; }
.icons-SnowC5 { --row: 1187; }
.icons-Soul1 { --row: 1188; }
.icons-Soul2 { --row: 1189; }
.icons-Soul3 { --row: 1190; }
.icons-Soul4 { --row: 1191; }
.icons-Soul5 { --row: 1192; }
.icons-Soul6 { --row: 1193; }
.icons-Stamp1 { --row: 1194; }
.icons-Stamp2 { --row: 1195; }
.icons-StampA1 { --row: 1196; }
.icons-StampA10 { --row: 1197; }
.icons-StampA11 { --row: 1198; }
.icons-StampA12 { --row: 1199; }
.icons-StampA127 { --row: 1200; }
.icons-StampA128 { --row: 1201; }
.icons-StampA129 { --row: 1202; }
.icons-StampA13 { --row: 1203; }
.icons-StampA130 { --row: 1204; }
.icons-StampA131 { --row: 1205; }
.icons-StampA14 { --row: 1206; }
.icons-StampA15 { --row: 1207; }
.icons-StampA16 { --row: 1208; }
.icons-StampA17 { --row: 1209; }
.icons-StampA18 { --row: 1210; }
.icons-StampA19 { --row: 1211; }
.icons-StampA2 { --row: 1212; }
.icons-StampA20 { --row: 1213; }
.icons-StampA21 { --row: 1214; }
.icons-StampA22 { --row: 1215; }
.icons-StampA226 { --row: 1216; }
.icons-StampA23 { --row: 1217; }
.icons-StampA24 { --row: 1218; }
.icons-StampA25 { --row: 1219; }
.icons-StampA26 { --row: 1220; }
.icons-StampA27 { --row: 1221; }
.icons-StampA28 { --row: 1222; }
.icons-StampA29 { --row: 1223; }
.icons-StampA3 { --row: 1224; }
.icons-StampA30 { --row: 1225; }
.icons-StampA31 { --row: 1226; }
.icons-StampA32 { --row: 1227; }
.icons-StampA33 { --row: 1228; }
.icons-StampA34 { --row: 1229; }
.icons-StampA4 { --row: 1230; }
.icons-StampA5 { --row: 1231; }
.icons-StampA6 { --row: 1232; }
.icons-StampA7 { --row: 1233; }
.icons-StampA8 { --row: 1234; }
.icons-StampA9 { --row: 1235; }
.icons-StampB1 { --row: 1236; }
.icons-StampB10 { --row: 1237; }
.icons-StampB11 { --row: 1238; }
.icons-StampB12 { --row: 1239; }
.icons-StampB13 { --row: 1240; }
.icons-StampB14 { --row: 1241; }
.icons-StampB15 { --row: 1242; }
.icons-StampB16 { --row: 1243; }
.icons-StampB17 { --row: 1244; }
.icons-StampB18 { --row: 1245; }
.icons-StampB19 { --row: 1246; }
.icons-StampB2 { --row: 1247; }
.icons-StampB20 { --row: 1248; }
.icons-StampB21 { --row: 1249; }
.icons-StampB22 { --row: 1250; }
.icons-StampB23 { --row: 1251; }
.icons-StampB24 { --row: 1252; }
.icons-StampB25 { --row: 1253; }
.icons-StampB26 { --row: 1254; }
.icons-StampB27 { --row: 1255; }
.icons-StampB28 { --row: 1256; }
.icons-StampB29 { --row: 1257; }
.icons-StampB3 { --row: 1258; }
.icons-StampB30 { --row: 1259; }
.icons-StampB31 { --row: 1260; }
.icons-StampB32 { --row: 1261; }
.icons-StampB33 { --row: 1262; }
.icons-StampB34 { --row: 1263; }
.icons-StampB35 { --row: 1264; }
.icons-StampB36 { --row: 1265; }
.icons-StampB4 { --row: 1266; }
.icons-StampB5 { --row: 1267; }
.icons-StampB6 { --row: 1268; }
.icons-StampB7 { --row: 1269; }
.icons-StampB8 { --row: 1270; }
.icons-StampB9 { --row: 1271; }
.icons-StampC1 { --row: 1272; }
.icons-StampC10 { --row: 1273; }
.icons-StampC11 { --row: 1274; }
.icons-StampC12 { --row: 1275; }
.icons-StampC13 { --row: 1276; }
.icons-StampC14 { --row: 1277; }
.icons-StampC15 { --row: 1278; }
.icons-StampC16 { --row: 1279; }
.icons-StampC17 { --row: 1280; }
.icons-StampC18 { --row: 1281; }
.icons-StampC19 { --row: 1282; }
.icons-StampC2 { --row: 1283; }
.icons-StampC20 { --row: 1284; }
.icons-StampC21 { --row: 1285; }
.icons-StampC3 { --row: 1286; }
.icons-StampC4 { --row: 1287; }
.icons-StampC5 { --row: 1288; }
.icons-StampC6 { --row: 1289; }
.icons-StampC7 { --row: 1290; }
.icons-StampC8 { --row: 1291; }
.icons-StampC9 { --row: 1292; }
.icons-Starfire { --row: 1293; }
.icons-StarfireBar { --row: 1294; }
.icons-Starlight { --row: 1295; }
.icons-StarlightBar { --row: 1296; }
.icons-StoneA1 { --row: 1297; }
.icons-StoneA1b { --row: 1298; }
.icons-StoneA2 { --row: 1299; }
.icons-StoneA2b { --row: 1300; }
.icons-StoneA3 { --row: 1301; }
.icons-StoneA3b { --row: 1302; }
.icons-StoneAe { --row: 1303; }
.icons-StoneAeB { --row: 1304; }
.icons-StoneHelm1 { --row: 1305; }
.icons-StoneHelm1b { --row: 1306; }
.icons-StoneHelm6 { --row: 1307; }
.icons-StonePremAGI { --row: 1308; }
.icons-StonePremLUK { --row: 1309; }
.icons-StonePremRestore { --row: 1310; }
.icons-StonePremSTAR { --row: 1311; }
.icons-StonePremSTR { --row: 1312; }
.icons-StonePremWIS { --row: 1313; }
.icons-StoneT1 { --row: 1314; }
.icons-StoneT1e { --row: 1315; }
.icons-StoneT1eb { --row: 1316; }
.icons-StoneT2 { --row: 1317; }
.icons-StoneT3 { --row: 1318; }
.icons-StoneTe { --row: 1319; }
.icons-StoneW1 { --row: 1320; }
.icons-StoneW2 { --row: 1321; }
.icons-StoneW3 { --row: 1322; }
.icons-StoneW6 { --row: 1323; }
.icons-StoneWe { --row: 1324; }
.icons-StoneWeb { --row: 1325; }
.icons-StoneZ1 { --row: 1326; }
.icons-StoneZ2 { --row: 1327; }
.icons-StumpTree { --row: 1328; }
.icons-TalentBook1 { --row: 1329; }
.icons-TalentBook2 { --row: 1330; }
.icons-TalentBook3 { --row: 1331; }
.icons-TalentBook4 { --row: 1332; }
.icons-TalentBook5 { --row: 1333; }
.icons-TalentPoint1 { --row: 1334; }
.icons-TalentPoint2 { --row: 1335; }
.icons-TalentPoint3 { --row: 1336; }
.icons-TalentPoint4 { --row: 1337; }
.icons-TalentPoint5 { --row: 1338; }
.icons-TalentPoint6 { --row: 1339; }
.icons-TaskSa1 { --row: 1340; }
.icons-TaskSa2 { --row: 1341; }
.icons-TaskSa3 { --row: 1342; }
.icons-TaskSa4 { --row: 1343; }
.icons-TaskSb1 { --row: 1344; }
.icons-TaskSb2 { --row: 1345; }
.icons-TaskSb3 { --row: 1346; }
.icons-TaskSb4 { --row: 1347; }
.icons-TaskSb5 { --row: 1348; }
.icons-TaskSbb1 { --row: 1349; }
.icons-TaskSbb2 { --row: 1350; }
.icons-TaskSc1 { --row: 1351; }
.icons-TaskSc2 { --row: 1352; }
.icons-TaskSc3 { --row: 1353; }
.icons-TaskSc4 { --row: 1354; }
.icons-TaskSc5 { --row: 1355; }
.icons-TaskSc6 { --row: 1356; }
.icons-TestObj1 { --row: 1357; }
.icons-TestObj10 { --row: 1358; }
.icons-TestObj11 { --row: 1359; }
.icons-TestObj12 { --row: 1360; }
.icons-TestObj13 { --row: 1361; }
.icons-TestObj14 { --row: 1362; }
.icons-TestObj15 { --row: 1363; }
.icons-TestObj16 { --row: 1364; }
.icons-TestObj2 { --row: 1365; }
.icons-TestObj3 { --row: 1366; }
.icons-TestObj4 { --row: 1367; }
.icons-TestObj5 { --row: 1368; }
.icons-TestObj6 { --row: 1369; }
.icons-TestObj7 { --row: 1370; }
.icons-TestObj8 { --row: 1371; }
.icons-TestObj9 { --row: 1372; }
.icons-Timecandy1 { --row: 1373; }
.icons-Timecandy2 { --row: 1374; }
.icons-Timecandy3 { --row: 1375; }
.icons-Timecandy4 { --row: 1376; }
.icons-Timecandy5 { --row: 1377; }
.icons-Timecandy6 { --row: 1378; }
.icons-Timecandy7 { --row: 1379; }
.icons-Timecandy8 { --row: 1380; }
.icons-Timecandy9 { --row: 1381; }
.icons-TixCol { --row: 1382; }
.icons-ToiletTree { --row: 1383; }
.icons-TrapBoxSet1 { --row: 1384; }
.icons-TrapBoxSet2 { --row: 1385; }
.icons-TrapBoxSet3 { --row: 1386; }
.icons-TrapBoxSet4 { --row: 1387; }
.icons-TrapBoxSet5 { --row: 1388; }
.icons-TrapBoxSet6 { --row: 1389; }
.icons-Trash { --row: 1390; }
.icons-Trash2 { --row: 1391; }
.icons-Trash3 { --row: 1392; }
.icons-Tree7 { --row: 1393; }
.icons-Tree7D { --row: 1394; }
.icons-Tree9 { --row: 1395; }
.icons-TreeInterior1 { --row: 1396; }
.icons-TreeInterior1b { --row: 1397; }
.icons-TreeInterior2 { --row: 1398; }
.icons-Trophy1 { --row: 1399; }
.icons-Trophy10 { --row: 1400; }
.icons-Trophy11 { --row: 1401; }
.icons-Trophy12 { --row: 1402; }
.icons-Trophy13 { --row: 1403; }
.icons-Trophy14 { --row: 1404; }
.icons-Trophy15 { --row: 1405; }
.icons-Trophy2 { --row: 1406; }
.icons-Trophy3 { --row: 1407; }
.icons-Trophy4 { --row: 1408; }
.icons-Trophy5 { --row: 1409; }
.icons-Trophy6 { --row: 1410; }
.icons-Trophy7 { --row: 1411; }
.icons-Trophy8 { --row: 1412; }
.icons-Trophy9 { --row: 1413; }
.icons-Void { --row: 1414; }
.icons-VoidBar { --row: 1415; }
.icons-Weight1 { --row: 1416; }
.icons-Weight10 { --row: 1417; }
.icons-Weight11 { --row: 1418; }
.icons-Weight12 { --row: 1419; }
.icons-Weight13 { --row: 1420; }
.icons-Weight14 { --row: 1421; }
.icons-Weight15 { --row: 1422; }
.icons-Weight2 { --row: 1423; }
.icons-Weight3 { --row: 1424; }
.icons-Weight4 { --row: 1425; }
.icons-Weight5 { --row: 1426; }
.icons-Weight6 { --row: 1427; }
.icons-Weight7 { --row: 1428; }
.icons-Weight8 { --row: 1429; }
.icons-Weight9 { --row: 1430; }
.icons-WorshipSkull1 { --row: 1431; }
.icons-WorshipSkull2 { --row: 1432; }
.icons-WorshipSkull3 { --row: 1433; }
.icons-WorshipSkull4 { --row: 1434; }
.icons-WorshipSkull5 { --row: 1435; }
.icons-WorshipSkull6 { --row: 1436; }
.icons-XP { --row: 1437; }
.icons-XPskill { --row: 1438; }
.icons-rtt0 { --row: 1439; }
