.icons-2836 {
    background-image: url(spritesheet_28x36.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 128.57142857142858%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 0.5494505494505495%)
}
.icons-2836:not(.icons-CardSet0):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
.icons-CardSet0 { --row: 0; }
.icons-CardSet1 { --row: 1; }
.icons-CardSet2 { --row: 2; }
.icons-CardSet25 { --row: 3; }
.icons-CardSet26 { --row: 4; }
.icons-CardSet3 { --row: 5; }
.icons-CardSet4 { --row: 6; }
.icons-CardSet5 { --row: 7; }
.icons-CardSet6 { --row: 8; }
.icons-CardSet7 { --row: 9; }
.icons-CardsA0 { --row: 10; }
.icons-CardsA1 { --row: 11; }
.icons-CardsA10 { --row: 12; }
.icons-CardsA11 { --row: 13; }
.icons-CardsA12 { --row: 14; }
.icons-CardsA13 { --row: 15; }
.icons-CardsA14 { --row: 16; }
.icons-CardsA15 { --row: 17; }
.icons-CardsA16 { --row: 18; }
.icons-CardsA2 { --row: 19; }
.icons-CardsA3 { --row: 20; }
.icons-CardsA4 { --row: 21; }
.icons-CardsA5 { --row: 22; }
.icons-CardsA6 { --row: 23; }
.icons-CardsA7 { --row: 24; }
.icons-CardsA8 { --row: 25; }
.icons-CardsA9 { --row: 26; }
.icons-CardsB1 { --row: 27; }
.icons-CardsB10 { --row: 28; }
.icons-CardsB11 { --row: 29; }
.icons-CardsB12 { --row: 30; }
.icons-CardsB13 { --row: 31; }
.icons-CardsB14 { --row: 32; }
.icons-CardsB2 { --row: 33; }
.icons-CardsB3 { --row: 34; }
.icons-CardsB4 { --row: 35; }
.icons-CardsB5 { --row: 36; }
.icons-CardsB6 { --row: 37; }
.icons-CardsB7 { --row: 38; }
.icons-CardsB8 { --row: 39; }
.icons-CardsB9 { --row: 40; }
.icons-CardsBlank { --row: 41; }
.icons-CardsC1 { --row: 42; }
.icons-CardsC10 { --row: 43; }
.icons-CardsC11 { --row: 44; }
.icons-CardsC12 { --row: 45; }
.icons-CardsC13 { --row: 46; }
.icons-CardsC14 { --row: 47; }
.icons-CardsC15 { --row: 48; }
.icons-CardsC16 { --row: 49; }
.icons-CardsC2 { --row: 50; }
.icons-CardsC3 { --row: 51; }
.icons-CardsC4 { --row: 52; }
.icons-CardsC5 { --row: 53; }
.icons-CardsC6 { --row: 54; }
.icons-CardsC7 { --row: 55; }
.icons-CardsC8 { --row: 56; }
.icons-CardsC9 { --row: 57; }
.icons-CardsD1 { --row: 58; }
.icons-CardsD10 { --row: 59; }
.icons-CardsD11 { --row: 60; }
.icons-CardsD12 { --row: 61; }
.icons-CardsD13 { --row: 62; }
.icons-CardsD14 { --row: 63; }
.icons-CardsD15 { --row: 64; }
.icons-CardsD16 { --row: 65; }
.icons-CardsD17 { --row: 66; }
.icons-CardsD18 { --row: 67; }
.icons-CardsD19 { --row: 68; }
.icons-CardsD2 { --row: 69; }
.icons-CardsD20 { --row: 70; }
.icons-CardsD21 { --row: 71; }
.icons-CardsD3 { --row: 72; }
.icons-CardsD4 { --row: 73; }
.icons-CardsD5 { --row: 74; }
.icons-CardsD6 { --row: 75; }
.icons-CardsD7 { --row: 76; }
.icons-CardsD8 { --row: 77; }
.icons-CardsD9 { --row: 78; }
.icons-CardsE0 { --row: 79; }
.icons-CardsE1 { --row: 80; }
.icons-CardsE10 { --row: 81; }
.icons-CardsE11 { --row: 82; }
.icons-CardsE12 { --row: 83; }
.icons-CardsE13 { --row: 84; }
.icons-CardsE14 { --row: 85; }
.icons-CardsE15 { --row: 86; }
.icons-CardsE2 { --row: 87; }
.icons-CardsE3 { --row: 88; }
.icons-CardsE4 { --row: 89; }
.icons-CardsE5 { --row: 90; }
.icons-CardsE6 { --row: 91; }
.icons-CardsE7 { --row: 92; }
.icons-CardsE8 { --row: 93; }
.icons-CardsE9 { --row: 94; }
.icons-CardsF1 { --row: 95; }
.icons-CardsF10 { --row: 96; }
.icons-CardsF11 { --row: 97; }
.icons-CardsF12 { --row: 98; }
.icons-CardsF13 { --row: 99; }
.icons-CardsF14 { --row: 100; }
.icons-CardsF15 { --row: 101; }
.icons-CardsF16 { --row: 102; }
.icons-CardsF17 { --row: 103; }
.icons-CardsF18 { --row: 104; }
.icons-CardsF19 { --row: 105; }
.icons-CardsF2 { --row: 106; }
.icons-CardsF20 { --row: 107; }
.icons-CardsF21 { --row: 108; }
.icons-CardsF22 { --row: 109; }
.icons-CardsF23 { --row: 110; }
.icons-CardsF3 { --row: 111; }
.icons-CardsF4 { --row: 112; }
.icons-CardsF5 { --row: 113; }
.icons-CardsF6 { --row: 114; }
.icons-CardsF7 { --row: 115; }
.icons-CardsF8 { --row: 116; }
.icons-CardsF9 { --row: 117; }
.icons-CardsG1 { --row: 118; }
.icons-CardsG10 { --row: 119; }
.icons-CardsG11 { --row: 120; }
.icons-CardsG12 { --row: 121; }
.icons-CardsG13 { --row: 122; }
.icons-CardsG14 { --row: 123; }
.icons-CardsG2 { --row: 124; }
.icons-CardsG3 { --row: 125; }
.icons-CardsG4 { --row: 126; }
.icons-CardsG5 { --row: 127; }
.icons-CardsG6 { --row: 128; }
.icons-CardsG7 { --row: 129; }
.icons-CardsG8 { --row: 130; }
.icons-CardsG9 { --row: 131; }
.icons-CardsX0 { --row: 132; }
.icons-CardsX1 { --row: 133; }
.icons-CardsX10 { --row: 134; }
.icons-CardsX11 { --row: 135; }
.icons-CardsX12 { --row: 136; }
.icons-CardsX13 { --row: 137; }
.icons-CardsX14 { --row: 138; }
.icons-CardsX15 { --row: 139; }
.icons-CardsX16 { --row: 140; }
.icons-CardsX17 { --row: 141; }
.icons-CardsX18 { --row: 142; }
.icons-CardsX19 { --row: 143; }
.icons-CardsX2 { --row: 144; }
.icons-CardsX20 { --row: 145; }
.icons-CardsX3 { --row: 146; }
.icons-CardsX4 { --row: 147; }
.icons-CardsX5 { --row: 148; }
.icons-CardsX6 { --row: 149; }
.icons-CardsX7 { --row: 150; }
.icons-CardsX8 { --row: 151; }
.icons-CardsX9 { --row: 152; }
.icons-CardsY0 { --row: 153; }
.icons-CardsY1 { --row: 154; }
.icons-CardsY10 { --row: 155; }
.icons-CardsY11 { --row: 156; }
.icons-CardsY12 { --row: 157; }
.icons-CardsY13 { --row: 158; }
.icons-CardsY14 { --row: 159; }
.icons-CardsY2 { --row: 160; }
.icons-CardsY3 { --row: 161; }
.icons-CardsY4 { --row: 162; }
.icons-CardsY5 { --row: 163; }
.icons-CardsY6 { --row: 164; }
.icons-CardsY7 { --row: 165; }
.icons-CardsY8 { --row: 166; }
.icons-CardsY9 { --row: 167; }
.icons-CardsZ0 { --row: 168; }
.icons-CardsZ1 { --row: 169; }
.icons-CardsZ10 { --row: 170; }
.icons-CardsZ11 { --row: 171; }
.icons-CardsZ12 { --row: 172; }
.icons-CardsZ13 { --row: 173; }
.icons-CardsZ2 { --row: 174; }
.icons-CardsZ3 { --row: 175; }
.icons-CardsZ4 { --row: 176; }
.icons-CardsZ5 { --row: 177; }
.icons-CardsZ6 { --row: 178; }
.icons-CardsZ7 { --row: 179; }
.icons-CardsZ8 { --row: 180; }
.icons-CardsZ9 { --row: 181; }
.icons-CardsZZ { --row: 182; }
