.icons-4242 {
    background-image: url(spritesheet_42x42.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 100.0%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 1.3157894736842106%)
}
.icons-4242:not(.icons-ConsoleChip0):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
            .icons-ConsoleChip0 { --row: 0; }
.icons-ConsoleChip1 { --row: 1; }
.icons-ConsoleChip10 { --row: 2; }
.icons-ConsoleChip11 { --row: 3; }
.icons-ConsoleChip12 { --row: 4; }
.icons-ConsoleChip13 { --row: 5; }
.icons-ConsoleChip14 { --row: 6; }
.icons-ConsoleChip15 { --row: 7; }
.icons-ConsoleChip16 { --row: 8; }
.icons-ConsoleChip17 { --row: 9; }
.icons-ConsoleChip18 { --row: 10; }
.icons-ConsoleChip19 { --row: 11; }
.icons-ConsoleChip2 { --row: 12; }
.icons-ConsoleChip20 { --row: 13; }
.icons-ConsoleChip21 { --row: 14; }
.icons-ConsoleChip22 { --row: 15; }
.icons-ConsoleChip23 { --row: 16; }
.icons-ConsoleChip24 { --row: 17; }
.icons-ConsoleChip25 { --row: 18; }
.icons-ConsoleChip3 { --row: 19; }
.icons-ConsoleChip4 { --row: 20; }
.icons-ConsoleChip5 { --row: 21; }
.icons-ConsoleChip6 { --row: 22; }
.icons-ConsoleChip7 { --row: 23; }
.icons-ConsoleChip8 { --row: 24; }
.icons-ConsoleChip9 { --row: 25; }
.icons-DungItems0 { --row: 26; }
.icons-DungItems1 { --row: 27; }
.icons-DungItems10 { --row: 28; }
.icons-DungItems11 { --row: 29; }
.icons-DungItems12 { --row: 30; }
.icons-DungItems13 { --row: 31; }
.icons-DungItems14 { --row: 32; }
.icons-DungItems15 { --row: 33; }
.icons-DungItems16 { --row: 34; }
.icons-DungItems17 { --row: 35; }
.icons-DungItems18 { --row: 36; }
.icons-DungItems19 { --row: 37; }
.icons-DungItems2 { --row: 38; }
.icons-DungItems20 { --row: 39; }
.icons-DungItems21 { --row: 40; }
.icons-DungItems22 { --row: 41; }
.icons-DungItems23 { --row: 42; }
.icons-DungItems24 { --row: 43; }
.icons-DungItems25 { --row: 44; }
.icons-DungItems26 { --row: 45; }
.icons-DungItems27 { --row: 46; }
.icons-DungItems28 { --row: 47; }
.icons-DungItems29 { --row: 48; }
.icons-DungItems3 { --row: 49; }
.icons-DungItems30 { --row: 50; }
.icons-DungItems31 { --row: 51; }
.icons-DungItems32 { --row: 52; }
.icons-DungItems33 { --row: 53; }
.icons-DungItems34 { --row: 54; }
.icons-DungItems35 { --row: 55; }
.icons-DungItems36 { --row: 56; }
.icons-DungItems37 { --row: 57; }
.icons-DungItems38 { --row: 58; }
.icons-DungItems39 { --row: 59; }
.icons-DungItems4 { --row: 60; }
.icons-DungItems40 { --row: 61; }
.icons-DungItems41 { --row: 62; }
.icons-DungItems42 { --row: 63; }
.icons-DungItems43 { --row: 64; }
.icons-DungItems44 { --row: 65; }
.icons-DungItems45 { --row: 66; }
.icons-DungItems46 { --row: 67; }
.icons-DungItems47 { --row: 68; }
.icons-DungItems48 { --row: 69; }
.icons-DungItems5 { --row: 70; }
.icons-DungItems6 { --row: 71; }
.icons-DungItems7 { --row: 72; }
.icons-DungItems8 { --row: 73; }
.icons-DungItems9 { --row: 74; }
.icons-Mgpushb { --row: 75; }
.icons-PrintSlot { --row: 76; }
