.icons-3434 {
    background-image: url(spritesheet_34x34.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 100.0%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 0.7352941176470589%)
}
.icons-3434:not(.icons-DungEnhancer0_x1):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
        .icons-DungEnhancer0_x1 { --row: 0; }
.icons-DungEnhancer1_x1 { --row: 1; }
.icons-DungEnhancer2_x1 { --row: 2; }
.icons-DungEqsSel0 { --row: 3; }
.icons-DungEqsSel1 { --row: 4; }
.icons-DungEqsSel2 { --row: 5; }
.icons-DungEqsSel3 { --row: 6; }
.icons-DungEqsSel4 { --row: 7; }
.icons-DungEqsSel5 { --row: 8; }
.icons-DungEqsSel6 { --row: 9; }
.icons-G2icon0 { --row: 10; }
.icons-G2icon1 { --row: 11; }
.icons-G2icon10 { --row: 12; }
.icons-G2icon100 { --row: 13; }
.icons-G2icon101 { --row: 14; }
.icons-G2icon102 { --row: 15; }
.icons-G2icon103 { --row: 16; }
.icons-G2icon104 { --row: 17; }
.icons-G2icon105 { --row: 18; }
.icons-G2icon106 { --row: 19; }
.icons-G2icon107 { --row: 20; }
.icons-G2icon108 { --row: 21; }
.icons-G2icon109 { --row: 22; }
.icons-G2icon11 { --row: 23; }
.icons-G2icon110 { --row: 24; }
.icons-G2icon111 { --row: 25; }
.icons-G2icon112 { --row: 26; }
.icons-G2icon113 { --row: 27; }
.icons-G2icon114 { --row: 28; }
.icons-G2icon115 { --row: 29; }
.icons-G2icon116 { --row: 30; }
.icons-G2icon117 { --row: 31; }
.icons-G2icon118 { --row: 32; }
.icons-G2icon119 { --row: 33; }
.icons-G2icon12 { --row: 34; }
.icons-G2icon120 { --row: 35; }
.icons-G2icon121 { --row: 36; }
.icons-G2icon122 { --row: 37; }
.icons-G2icon123 { --row: 38; }
.icons-G2icon13 { --row: 39; }
.icons-G2icon14 { --row: 40; }
.icons-G2icon15 { --row: 41; }
.icons-G2icon16 { --row: 42; }
.icons-G2icon17 { --row: 43; }
.icons-G2icon18 { --row: 44; }
.icons-G2icon19 { --row: 45; }
.icons-G2icon2 { --row: 46; }
.icons-G2icon20 { --row: 47; }
.icons-G2icon21 { --row: 48; }
.icons-G2icon22 { --row: 49; }
.icons-G2icon23 { --row: 50; }
.icons-G2icon24 { --row: 51; }
.icons-G2icon25 { --row: 52; }
.icons-G2icon26 { --row: 53; }
.icons-G2icon27 { --row: 54; }
.icons-G2icon28 { --row: 55; }
.icons-G2icon29 { --row: 56; }
.icons-G2icon3 { --row: 57; }
.icons-G2icon30 { --row: 58; }
.icons-G2icon31 { --row: 59; }
.icons-G2icon32 { --row: 60; }
.icons-G2icon33 { --row: 61; }
.icons-G2icon34 { --row: 62; }
.icons-G2icon35 { --row: 63; }
.icons-G2icon36 { --row: 64; }
.icons-G2icon37 { --row: 65; }
.icons-G2icon38 { --row: 66; }
.icons-G2icon39 { --row: 67; }
.icons-G2icon4 { --row: 68; }
.icons-G2icon40 { --row: 69; }
.icons-G2icon41 { --row: 70; }
.icons-G2icon42 { --row: 71; }
.icons-G2icon43 { --row: 72; }
.icons-G2icon44 { --row: 73; }
.icons-G2icon45 { --row: 74; }
.icons-G2icon46 { --row: 75; }
.icons-G2icon47 { --row: 76; }
.icons-G2icon48 { --row: 77; }
.icons-G2icon49 { --row: 78; }
.icons-G2icon5 { --row: 79; }
.icons-G2icon50 { --row: 80; }
.icons-G2icon51 { --row: 81; }
.icons-G2icon52 { --row: 82; }
.icons-G2icon53 { --row: 83; }
.icons-G2icon54 { --row: 84; }
.icons-G2icon55 { --row: 85; }
.icons-G2icon56 { --row: 86; }
.icons-G2icon57 { --row: 87; }
.icons-G2icon58 { --row: 88; }
.icons-G2icon59 { --row: 89; }
.icons-G2icon6 { --row: 90; }
.icons-G2icon60 { --row: 91; }
.icons-G2icon61 { --row: 92; }
.icons-G2icon62 { --row: 93; }
.icons-G2icon63 { --row: 94; }
.icons-G2icon64 { --row: 95; }
.icons-G2icon65 { --row: 96; }
.icons-G2icon66 { --row: 97; }
.icons-G2icon67 { --row: 98; }
.icons-G2icon68 { --row: 99; }
.icons-G2icon69 { --row: 100; }
.icons-G2icon7 { --row: 101; }
.icons-G2icon70 { --row: 102; }
.icons-G2icon71 { --row: 103; }
.icons-G2icon72 { --row: 104; }
.icons-G2icon73 { --row: 105; }
.icons-G2icon74 { --row: 106; }
.icons-G2icon75 { --row: 107; }
.icons-G2icon76 { --row: 108; }
.icons-G2icon77 { --row: 109; }
.icons-G2icon78 { --row: 110; }
.icons-G2icon79 { --row: 111; }
.icons-G2icon8 { --row: 112; }
.icons-G2icon80 { --row: 113; }
.icons-G2icon81 { --row: 114; }
.icons-G2icon82 { --row: 115; }
.icons-G2icon83 { --row: 116; }
.icons-G2icon84 { --row: 117; }
.icons-G2icon85 { --row: 118; }
.icons-G2icon86 { --row: 119; }
.icons-G2icon87 { --row: 120; }
.icons-G2icon88 { --row: 121; }
.icons-G2icon89 { --row: 122; }
.icons-G2icon9 { --row: 123; }
.icons-G2icon90 { --row: 124; }
.icons-G2icon91 { --row: 125; }
.icons-G2icon92 { --row: 126; }
.icons-G2icon93 { --row: 127; }
.icons-G2icon94 { --row: 128; }
.icons-G2icon95 { --row: 129; }
.icons-G2icon96 { --row: 130; }
.icons-G2icon97 { --row: 131; }
.icons-G2icon98 { --row: 132; }
.icons-G2icon99 { --row: 133; }
.icons-PachiBop0 { --row: 134; }
.icons-PachiBop1 { --row: 135; }
.icons-PachiBop2 { --row: 136; }
