.icons-6666 {
    background-image: url(spritesheet_66x66.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 100.0%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 1.8867924528301887%)
}
.icons-6666:not(.icons-ConLoadout0):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
.icons-ConLoadout0 { --row: 0; }
.icons-ConLoadout1 { --row: 1; }
.icons-ConLoadout2 { --row: 2; }
.icons-ConTowerB0 { --row: 3; }
.icons-ConTowerB1 { --row: 4; }
.icons-ConTowerB10 { --row: 5; }
.icons-ConTowerB11 { --row: 6; }
.icons-ConTowerB12 { --row: 7; }
.icons-ConTowerB13 { --row: 8; }
.icons-ConTowerB14 { --row: 9; }
.icons-ConTowerB15 { --row: 10; }
.icons-ConTowerB16 { --row: 11; }
.icons-ConTowerB17 { --row: 12; }
.icons-ConTowerB18 { --row: 13; }
.icons-ConTowerB19 { --row: 14; }
.icons-ConTowerB2 { --row: 15; }
.icons-ConTowerB20 { --row: 16; }
.icons-ConTowerB21 { --row: 17; }
.icons-ConTowerB22 { --row: 18; }
.icons-ConTowerB23 { --row: 19; }
.icons-ConTowerB24 { --row: 20; }
.icons-ConTowerB25 { --row: 21; }
.icons-ConTowerB26 { --row: 22; }
.icons-ConTowerB27 { --row: 23; }
.icons-ConTowerB28 { --row: 24; }
.icons-ConTowerB29 { --row: 25; }
.icons-ConTowerB3 { --row: 26; }
.icons-ConTowerB4 { --row: 27; }
.icons-ConTowerB5 { --row: 28; }
.icons-ConTowerB6 { --row: 29; }
.icons-ConTowerB7 { --row: 30; }
.icons-ConTowerB8 { --row: 31; }
.icons-ConTowerB9 { --row: 32; }
.icons-ConsoleJwl0 { --row: 33; }
.icons-ConsoleJwl1 { --row: 34; }
.icons-ConsoleJwl10 { --row: 35; }
.icons-ConsoleJwl11 { --row: 36; }
.icons-ConsoleJwl12 { --row: 37; }
.icons-ConsoleJwl13 { --row: 38; }
.icons-ConsoleJwl14 { --row: 39; }
.icons-ConsoleJwl15 { --row: 40; }
.icons-ConsoleJwl16 { --row: 41; }
.icons-ConsoleJwl17 { --row: 42; }
.icons-ConsoleJwl2 { --row: 43; }
.icons-ConsoleJwl3 { --row: 44; }
.icons-ConsoleJwl4 { --row: 45; }
.icons-ConsoleJwl5 { --row: 46; }
.icons-ConsoleJwl6 { --row: 47; }
.icons-ConsoleJwl7 { --row: 48; }
.icons-ConsoleJwl8 { --row: 49; }
.icons-ConsoleJwl9 { --row: 50; }
.icons-TaskAchBorder1 { --row: 51; }
.icons-TaskAchBorder2 { --row: 52; }
.icons-TaskAchBorder3 { --row: 53; }
