.icons-4344 {
    background-image: url(spritesheet_43x44.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    padding-bottom: 102.32558139534885%;
    height: 0;
    background-size: cover;
    background-position: 0 calc(var(--row) * 8.333333333333334%)
}
.icons-4344:not(.icons-TaskAchA58):after{content:'MISSING ICON';font-size:12px; line-height: 1em; background:red;color:#fff;height:100%;opacity:calc(1 - var(--row));}
        .icons-TaskAchA58 { --row: 0; }
.icons-TaskAchA59 { --row: 1; }
.icons-TaskAchA60 { --row: 2; }
.icons-TaskAchA61 { --row: 3; }
.icons-TaskAchA62 { --row: 4; }
.icons-TaskAchA63 { --row: 5; }
.icons-TaskAchA64 { --row: 6; }
.icons-TaskAchA65 { --row: 7; }
.icons-TaskAchA66 { --row: 8; }
.icons-TaskAchA67 { --row: 9; }
.icons-TaskAchA68 { --row: 10; }
.icons-TaskAchA69 { --row: 11; }
.icons-TaskAchA70 { --row: 12; }
