# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# local images
.icons-backup
data/icons/assets/**/*.png
assets/
*.py
icons.*
image-generator.js
sample_data.json
Z.js
*.txt
*:Zone.Identifier
__pycache__
.venv
sprites
**/backup
get_id_token.js
yarn.lock
.vscode
model_generation
quest
monster
# Sentry
.sentryclirc

!public/**
*.py
certs

Z_*.js
N_*.js
profiles/*
*.rar
*.md
some icons for w5
profile_local/*
apk/**
base.apk


## Temporary 
codex.tsx
certificates