.card {
    background-image: url(/icons/assets/sheets/stamps.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 1000% 1000%;
}

.card-StampA10_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 0%;
}

.card-StampA11_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 0%;
} 

.card-StampA127_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 0%;
}

.card-StampA128_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 0%;
}

.card-StampA129_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 0%;
}

.card-StampA12_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 0%;
}

.card-StampA130_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 0%;
}

.card-StampA131_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 0%;
}

.card-StampA13_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 0%;
}

.card-StampA14_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 11%;
}

.card-StampA15_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 11%;
}

.card-StampA16_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 11%;
}

.card-StampA17_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 11%;
}

.card-StampA18_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 11%;
}

.card-StampA19_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 11%;
}

.card-StampA1_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 11%;
}

.card-StampA20_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 11%;
}

.card-StampA21_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 11%;
}

.card-StampA226_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 22%;
}

.card-StampA22_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 22%;
}

.card-StampA23_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 22%;
}

.card-StampA24_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 22%;
}

.card-StampA25_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 22%;
}

.card-StampA26_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 22%;
}

.card-StampA27_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 22%;
}

.card-StampA28_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 22%;
}

.card-StampA29_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 22%;
}

.card-StampA2_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 33%;
}

.card-StampA30_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 33%;
}

.card-StampA31_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 33%;
}

.card-StampA32_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 33%;
}

.card-StampA33_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 33%;
}

.card-StampA34_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 33%;
}

.card-StampA3_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 33%;
}

.card-StampA4_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 33%;
}

.card-StampA5_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 33%;
}

.card-StampA6_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 45%;
}

.card-StampA7_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 45%;
}

.card-StampA8_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 45%;
}

.card-StampA9_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 45%;
}

.card-StampB10_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 45%;
}

.card-StampB11_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 45%;
}

.card-StampB12_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 45%;
}

.card-StampB13_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 45%;
}

.card-StampB14_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 45%;
}

.card-StampB15_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 56%;
}

.card-StampB16_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 56%;
}

.card-StampB17_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 56%;
}

.card-StampB18_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 56%;
}

.card-StampB19_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 56%;
}

.card-StampB1_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 56%;
}

.card-StampB20_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 56%;
}

.card-StampB21_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 56%;
}

.card-StampB22_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 56%;
}

.card-StampB23_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 67%;
}

.card-StampB24_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 67%;
}

.card-StampB25_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 67%;
}

.card-StampB26_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 67%;
}

.card-StampB27_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 67%;
}

.card-StampB28_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 67%;
}

.card-StampB29_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 67%;
}

.card-StampB2_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 67%;
}

.card-StampB30_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 67%;
}

.card-StampB31_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 78%;
}

.card-StampB32_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 78%;
}

.card-StampB33_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 78%;
}

.card-StampB34_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 78%;
}

.card-StampB35_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 78%;
}

.card-StampB36_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 78%;
}

.card-StampB3_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 78%;
}

.card-StampB4_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 78%;
}

.card-StampB5_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 78%;
}

.card-StampB6_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 89%;
}

.card-StampB7_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 89%;
}

.card-StampB8_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 89%;
}

.card-StampB9_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 89%;
}

.card-StampC10_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 89%;
}

.card-StampC11_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 89%;
}

.card-StampC12_x1 {
    width: 72px;
    height: 72px;
    background-position: 67% 89%;
}

.card-StampC13_x1 {
    width: 72px;
    height: 72px;
    background-position: 78% 89%;
}

.card-StampC14_x1 {
    width: 72px;
    height: 72px;
    background-position: 89% 89%;
}

.card-StampC15_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 0%;
}

.card-StampC16_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 11%;
}

.card-StampC17_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 22%;
}

.card-StampC18_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 33%;
}

.card-StampC19_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 45%;
}

.card-StampC1_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 56%;
}

.card-StampC20_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 67%;
}

.card-StampC2_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 78%;
}

.card-StampC3_x1 {
    width: 72px;
    height: 72px;
    background-position: 100% 89%;
}

.card-StampC4_x1 {
    width: 72px;
    height: 72px;
    background-position: 0% 100%;
}

.card-StampC5_x1 {
    width: 72px;
    height: 72px;
    background-position: 11% 100%;
}

.card-StampC6_x1 {
    width: 72px;
    height: 72px;
    background-position: 22% 100%;
}

.card-StampC7_x1 {
    width: 72px;
    height: 72px;
    background-position: 33% 100%;
}

.card-StampC8_x1 {
    width: 72px;
    height: 72px;
    background-position: 45% 100%;
}

.card-StampC9_x1 {
    width: 72px;
    height: 72px;
    background-position: 56% 100%;
}
